<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<script type="text/javascript">
    function changePassword(){
        if(document.getElementById("jsId").value) {
            if (document.getElementById("psdCheck").style.color === 'red') {
                alert("请修正报错信息");
            } else {
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/changePassword",//url
                    data: $('#changePasswordForm').serialize(),
                    success: function (data) {
                        if (data['check'] == true) {
                            if(data['success'] == true){
                                alert("修改密码成功");
                                window.location.href="/logout";
                            }else{
                                alert("修改密码失败");
                            }
                        } else {
                            alert("旧密码错误");
                        }
                    },
                    error: function () {
                        alert("异常！");
                    }
                });
            }
        }else{
            alert("请先登录");
        }
    }

    function passwordCheck() {
        var psd = document.getElementById("newPassword").value;
        var confirmPsd = document.getElementById("confirmNewPassword").value;
        if(psd === confirmPsd){
            document.getElementById("psdCheck").innerHTML = "";
            document.getElementById("psdCheck").style.color = "green";
        }else{
            document.getElementById("psdCheck").innerHTML = "× 两次密码不一致"
            document.getElementById("psdCheck").style.color = "red";
        }
    }
</script>
<body>
<div class="panel-default">
    <div class="panel-body" style="height: 1500px;">
        <div class="panel panel-default" style="margin:0px auto;margin-top: 160px;width: 800px;">
            <div class="panel-heading">
                修改密码
            </div>
        <form class="form-horizontal" id="changePasswordForm" style="padding-top: 20px;">
            <div class="form-group" id="oldPasswordDiv">
                <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label">
                    旧密码
                </label>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <input class="form-control" name="oldPassword" type="text" id="oldPassword" >
                </div>
            </div>
            <div class="form-group" id="newPasswordDiv">
                <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label">
                    新密码
                </label>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <input class="form-control" name="newPassword" type="password" id="newPassword" >
                </div>
            </div>
            <div class="form-group" id="confirmNewPasswordDiv">
                <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label">
                    确认新密码
                </label>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <input class="form-control" name="confirmNewPassword" type="password" id="confirmNewPassword" onblur="passwordCheck()">
                </div>
                <label class=" control-label check"  id="psdCheck">
                </label>
            </div>
            <input type="hidden" name="jsId" id="jsId" th:value="${session.userId}">
            <div class="form-group" id="buttonDiv">
                <label class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label">
                </label>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <input class="btn btn-primary form-control" type="button" onclick="changePassword()" value="修改密码">
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
</body>
</html>