<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
    <div class="panel-default" style="display: block;" id="chatDiv">
        <div class=" panel-heading">
            <span>HR姓名</span> 丨 <span>公司</span> 丨 <span>所属职位</span>
        </div>
        <div class=" panel-heading">
            <a href="" >XXX职位</a>
        </div>
        <div class="panel-body" style="height: 900px">
            <div style="height: 75%;border: 1px solid black;overflow: scroll" id="chatContent">
                <div th:each="chat:${chatList}">
                <p class="chatTime" th:text="${chat.chatSendTime}"></p>
                    <div th:if="${session.userType=='js'}">
                        <div th:switch="${chat.isJsSend}">
                            <p class="mySend" th:case="1"><span style="background: #4cd3e3;color: black;"
                                                                th:text="${chat.chatContent}"></span></p>
                            <p th:case="0"><span style="background: #b8aaf3;color: black;"
                                                 th:text="${chat.chatContent}"></span></p>
                        </div>
                    </div>
                    <div th:if="${session.userType=='re'}">
                        <div th:switch="${chat.isJsSend}">
                            <p class="mySend" th:case="0"><span style="background: #4cd3e3;color: black;"
                                                                th:text="${chat.chatContent}"></span></p>
                            <p th:case="1"><span style="background: #b8aaf3;color: black;"
                                                 th:text="${chat.chatContent}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 25%;">
                <textarea id="text" style="height: 85%;width:100%;resize: none" ></textarea>
                <div style="float: right">
                <button class="btn btn-primary" type="button" th:if="${session.userType=='js'}" th:onclick="jsSend([[${reId}]],[[${jobId}]])">发送</button>
                <button class="btn btn-primary" type="button" th:if="${session.userType=='re'}" th:onclick="reSend([[${jsId}]],[[${jobId}]])">发送</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<span th:text="${jobId}" id="jobId2"></span>
<span id="newMsg"></span>
<script type="text/javascript">
    Date.prototype.Format = function (fmt) { // author: meizz
        var o = {
            "M+": this.getMonth() + 1, // 月份
            "d+": this.getDate(), // 日
            "h+": this.getHours(), // 小时
            "m+": this.getMinutes(), // 分
            "s+": this.getSeconds(), // 秒
            "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
            "S": this.getMilliseconds() // 毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    var webSocket;
    var newMsg = [];
    var commWebSocket;
    if ("WebSocket" in window)
    {
        webSocket = new WebSocket("ws://localhost:8281/websocket/"+document.getElementById('userType').innerHTML+"/"+document.getElementById('userId').innerHTML+"/"+document.getElementById("jobId2").innerHTML);

        //连通之后的回调事件
        webSocket.onopen = function()
        {
            // var received_msg = evt.data;
            // var obj = JSON.parse(received_msg);
            // alert(obj.users);
            //webSocket.send( document.getElementById('username').value+"已经上线了");
            console.log("已经连通了websocket");
            setMessageInnerHTML("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt)
        {
            var chat = [];
            var received_msg = evt.data;
            console.log("数据已接收:" +received_msg);
            var obj = JSON.parse(received_msg);
            setMessageInnerHTML(obj.from+"对"+obj.to+"说："+obj.msg);
            $("#chatContent").append("<p class=\"chatTime\">" + obj.time + "</p>");
            $("#chatContent").append("<p><span style=\"background: #b8aaf3;color: black;\">" + obj.msg + "</span></p>");
            var fromChars = obj.from.split("-");
            var toChars = obj.to.split("-");
            if(fromChars[0] === "js"){
                chat['jsId'] = fromChars[1];
                chat['reId'] = toChars[1];
                chat['chatContent'] = obj.msg;
                chat['charSendTime'] = obj.time;
                chat['isJsSend'] = 1;
            }else{
                chat['jsId'] = toChars[1];
                chat['reId'] = fromChars[1];
                chat['chatContent'] = obj.msg;
                chat['charSendTime'] = obj.time;
                chat['isJsSend'] = 0;
            }
            newMsg.push(chat);
        };

        //连接关闭的回调事件
        webSocket.onclose = function()
        {
            console.log("连接已关闭...");
            setMessageInnerHTML("连接已经关闭....");
            setMessageInnerHTML("ininininininininininninininin");
        };
    }
    else{
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket!");
    }
    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    function closeWebSocket() {
        //直接关闭websocket的连接
        webSocket.close();
    }

    function jsSend(toId,jobId) {
        setMessageInnerHTML("js-"+document.getElementById('userId').innerHTML+"-"+jobId+"对re-"+toId+"-"+jobId+"说："+ $("#text").val());
        var message = {
            "msg":document.getElementById('text').value,
            "from":"js-"+document.getElementById('userId').innerHTML+"-"+jobId,
            "to":"re-"+toId+"-"+jobId,
            "time": new Date().Format("yyyy-MM-dd hh:mm:ss")
        };
        $("#chatContent").append("<p class=\"chatTime\">"+message['time']+"</p>");
        $("#chatContent").append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black\">"+message['msg']+"</span></p>");
        webSocket.send(JSON.stringify(message));
        $("#text").val("");

    }
    function reSend(toId,jobId) {
        setMessageInnerHTML("re-"+document.getElementById('userId').innerHTML+"-"+jobId+"对js-"+toId+"-"+jobId+"说："+ $("#text").val());
        var message = {
            "msg":document.getElementById('text').value,
            "from":"re-"+document.getElementById('userId').innerHTML+"-"+jobId,
            "to":"js-"+toId+"-"+jobId,
            "time": new Date().Format("yyyy-MM-dd hh:mm:ss")
        };
        $("#chatContent").append("<p class=\"chatTime\">"+message['time']+"</p>");
        $("#chatContent").append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black\">"+message['msg']+"</span></p>");
        webSocket.send(JSON.stringify(message));
        $("#text").val("");
    }
</script>
</html>