<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<script type="text/javascript">
    var i = true;
    window.onload = function () {
        getChatUsers();
    }
    function getChatUsers(tempReId,tempJobId) {
        $("#usersUl").html("");
        $.when(
            $.ajax({
                type: "POST",
                url: "/job/getChatUsers",
                dataType: "JSON",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var reId = data[i]['reId'];
                        var jobId = data[i]['jobId'];
                        var reRealname = data[i]['reRealname'];
                        var reHeadImgUrl = '#';
                        if(data[i]['reHeadImg']){
                            reHeadImgUrl = "../reHeadImg/"+data[i]['reHeadImg']
                        }
                        var notRead;
                        if (data[i]['notRead']) {
                            notRead = data[i]['notRead'];
                        } else {
                            notRead = "";
                        }
                        var companyName;
                        if (data[i]['reCompany']) {
                            companyName = data[i]['reCompany'];
                        } else {
                            companyName = "";
                        }
                        var reCompanyPosition = data[i]['reCompanyPosition'];
                        if (tempReId === reId && tempJobId === jobId) {
                            $("#usersUl").append("<li class=\"list-group-item\" style=\"cursor: pointer;margin-bottom: 2px;border: 1px blue solid\" id=\"" + reId + "-" + jobId + "-li\" onclick=\"showChat(this," + reId + "," + jobId + ")\" >\n" +
                                "                    <div style=\"height:100px;\">\n" +
                                "                        <div  style=\"float:left;width: 40%; height: 90%; \">\n" +
                                "                            <img src=\""+reHeadImgUrl+"\" style=\"float:left;margin-right:20px;width:80px; height:80px; border-radius:100%; overflow:hidden;border: 1px black solid\"/>\n" +
                                "                        </div>\n" +
                                "                        <div style=\"float:right;width: 60%;height: 90%;padding-top: 15px\">\n" +
                                "                            <p><span>" + reRealname + "</span> <span class=\"badge\" >" + notRead + "</span></p>\n" +
                                "                            <p><span \">" + companyName + "</span> 丨 <span>" + reCompanyPosition + "</span></p>\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                </li>")
                        } else {
                            $("#usersUl").append("<li class=\"list-group-item\" style=\"cursor: pointer;margin-bottom: 2px\" id=\"" + reId + "-" + jobId + "-li\" onclick=\"showChat(this," + reId + "," + jobId + ")\" >\n" +
                                "                    <div style=\"height:100px;\">\n" +
                                "                        <div  style=\"float:left;width: 40%; height: 90%; \">\n" +
                                "                            <img src=\""+reHeadImgUrl+"\" style=\"float:left;margin-right:20px;width:80px; height:80px; border-radius:100%; overflow:hidden;border: 1px black solid\"/>\n" +
                                "                        </div>\n" +
                                "                        <div style=\"float:right;width: 60%;height: 90%;padding-top: 15px\">\n" +
                                "                            <p><span>" + reRealname + "</span> <span class=\"badge\" >" + notRead + "</span></p>\n" +
                                "                            <p><span \">" + companyName + "</span> 丨 <span>" + reCompanyPosition + "</span></p>\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                </li>")
                        }
                    }
                }
            })
        ).done(function () {
            if(i){
                getNewUser();
            }else{
                $("#newUserUl").html("");
            }
        })
    }
    function showChat(obj,reId,jobId) {
        document.getElementById("sendButton").dataset.reId = reId;
        document.getElementById("sendButton").dataset.jobId = jobId;
        var li = document.getElementsByClassName("list-group-item");
        for(var i = 0; i < li.length; i++){
            li[i].style.border="";
        }
        obj.style.border = "1px blue solid";
        $('#chatContent').html("");
        $.when(
            $.ajax({
                type: "POST",
                url: "/job/showChatContent",
                data: {"reId": reId, "jobId": jobId},
                dataType: "JSON",
                success: function (data) {
                    //var chatList = data['chatList'];
                    if(data.length>0){
                        document.getElementById("reRealname").innerHTML = data[0]['reRealname'];
                        document.getElementById("companyName").innerHTML = data[0]['companyName'];
                        document.getElementById("reCompanyPosition").innerHTML = data[0]['reCompanyPosition'];
                        document.getElementById("jobUrl").innerHTML = data[0]['jobName'];
                        document.getElementById("jobUrl").setAttribute("href","/job/getJobDetail?jobId="+data[0]['jobId'])
                        for (var i = 0; i < data.length; i++) {
                            $('#chatContent').append("<p class=\"chatTime\">" + data[i]['chatSendTime'] + "</p>");
                            if (data[i]['isJsSend'] === 1) {
                                $('#chatContent').append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black;\">" + data[i]['chatContent'] + "</span></p>");
                            } else {
                                $('#chatContent').append("<p ><span style=\"background: #b8aaf3;color: black;\">" + data[i]['chatContent'] + "</span></p>");
                            }
                        }
                    }
                }
            })
        ).done(function () {
            // newMsg.sort((a,b)=> {
            //     return a.get('chatSendTime') > b.get('chatSendTime') ? 1 : -1;
            // });
            if(newMsg){
                for(var tmp=0; tmp < newMsg.length ;tmp++){
                    if(newMsg[tmp]['jobId'] == jobId && newMsg[tmp]['reId'] == reId){
                        $('#chatContent').append("<p class=\"chatTime\">"+newMsg[tmp]['chatSendTime']+"</p>");
                        if(newMsg[tmp]['isJsSend']==1){
                            $('#chatContent').append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black;\">" + newMsg[tmp]['chatContent'] + "</span></p>");
                        }else{
                            newMsg[tmp]['isRead'] = 1;
                            $('#chatContent').append("<p ><span style=\"background: #b8aaf3;color: black;\">"+newMsg[tmp]['chatContent']+"</span></p>");
                        }
                        // newMsg.splice(tmp,1);
                        delete newMsg[tmp];
                    }
                }
            }
        }).fail(function () {

        });
        document.getElementById("noChatDiv").style.display = "none";
        document.getElementById("chatDiv").style.display = "block";
        // document.getElementById("noChatDiv").style.display = "none";
        // var url = "/job/chatContent?reId="+reId+"&jobId="+jobId;
        // $('#chatDiv').load(url);
        getChatUsers(reId,jobId);
    }
    function saveChatContent(chat) {
        //把发送的消息存入数据库
        // var sendMsg = newMsg;
        // for(var i = 0; i < sendMsg.length; i++){
        //     if(sendMsg[i]['isJsSend'] == 0){
        //         sendMsg.splice(i, 1);
        //     }
        // }
        if(chat) {
            $.ajax({
                type: "POST",
                url: "/job/saveChatContent",
                data: {"msg": JSON.stringify(chat)},
                dataType: "JSON",
                success: function (data) {
                    if (data['success'] == "true") {
                    } else {
                        alert("消息保存失败");
                    }
                },
                fail: function () {
                }
            })
        }
    }

    function getNewUser() {
        var reId = document.getElementById("reId").innerText;
        var jobId = document.getElementById("jobId").innerText;
        if(reId && jobId) {
            var id = reId + "-" + jobId + "-li";
            document.getElementById("reId").innerText = "";
            document.getElementById("jobId").innerText = "";
            if($("#" + id).length>0)
            {
                $("#" + id).click();
            }else{
                $.when(
                    $.ajax({
                        type: "GET",
                        url: "/job/getNewUser",
                        data: {"reId": reId, "jobId": jobId},
                        dataType: "JSON",
                        success: function (data) {
                            //var chatList = data['chatList'];
                            var reId = data['reId'];
                            var jobId = data['jobId'];
                            var reRealname = data['reRealname'];
                            var reHeadImgUrl = '#';
                            if(data['reHeadImg']){
                                reHeadImgUrl = "../reHeadImg/"+data['reHeadImg'];
                            }
                            var companyName = data['reCompany'];
                            var reCompanyPosition = data['reCompanyPosition'];
                            var jobName = data['jobName'];
                            var jobId = data['jobId'];
                            $("#newUserUl").append("<li class=\"list-group-item\" style=\"cursor: pointer;margin-bottom: 2px;border: 1px blue solid\" id=\"" + reId + "-" + jobId + "-li\" onclick=\"showChat2(this,\'" + reId + "\',\'" + jobId + "\',\'" + reRealname + "\',\'" + companyName + "\',\'" + reCompanyPosition + "\',\'" + jobName + "\')\" >\n" +
                                "                    <div style=\"height:100px;\">\n" +
                                "                        <div  style=\"float:left;width: 40%; height: 90%; \">\n" +
                                "                            <img src=\""+reHeadImgUrl+"\" style=\"float:left;margin-right:20px;width:80px; height:80px; border-radius:100%; overflow:hidden;border: 1px black solid\"/>\n" +
                                "                        </div>\n" +
                                "                        <div style=\"float:right;width: 60%;height: 90%;padding-top: 15px\">\n" +
                                "                            <p><span> " + reRealname + "</span> </p>\n" +
                                "                            <p><span >" + companyName + "</span> 丨 <span>" + reCompanyPosition + "</span></p>\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                </li>");
                        }
                    })
                ).done(function () {
                    $("#" + id).click();
                })
            }

        }
    }
    function showChat2(obj,reId,jobId,reRealname,companyName,reCompanyPosition,jobName) {
        var li = document.getElementsByClassName("list-group-item");
        for (var i = 0; i < li.length; i++) {
            li[i].style.border = "";
        }
        obj.style.border = "1px blue solid";
        document.getElementById("sendButton").dataset.reId = reId;
        document.getElementById("sendButton").dataset.jobId = jobId;
        $('#chatContent').html("");
        document.getElementById("reRealname").innerHTML = reRealname;
        document.getElementById("companyName").innerHTML = companyName;
        document.getElementById("reCompanyPosition").innerHTML = reCompanyPosition;
        document.getElementById("jobUrl").innerText = jobName;
        document.getElementById("jobUrl").setAttribute("href", "/job/getJobDetail?jobId=" + jobId);
        document.getElementById("noChatDiv").style.display = "none";
        document.getElementById("chatDiv").style.display = "block";
        getChatUsers();
    }
</script>
<style>
    .chatTime{
        text-align: center;
    }
    .mySend{
        text-align: right;
    }
    #chatContent p{
        padding: 10px;
        line-height: 5px;
    }
    #chatContent p span{
        padding:10px;
    }
</style>
<body>
<header id="header" class="header-scrolled">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/getLoginIndex" style="font-weight: 600;color: #00b38a;font-size: 30px">职聊招聘</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/getLoginIndex">首页</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="elements.html">elements</a></li>
                            <li><a href="../templates/search.html">search</a></li>
                            <li><a href="single.html">single</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="register.html">注册</a></li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="login.html">登录</a></li>
                    <li style="border: 1px white solid"><a href="#" th:if="${session.userName != null}" th:text="${session.userName}"></a>
                        <ul style="margin-top: 0px">
                            <li><a th:href="@{/jsPersonCenter(type=${session.userType})}">个人中心</a> </li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<div class="panel panel-default" style="height: 500px;margin-top: 80px;">
    <div class="panel-heading">
        <span th:text="${session.userName}+'的聊天'"></span>
    </div>
    <div class="panel-body" style="margin:0 auto;width:1000px;" >
        <div class="panel panel-default" style="float:left;width: 30%;height:1000px; border:1px solid black;">
            <div class="panel-heading">
                30天内联系人
            </div>
            <ul class="list-group" >
                <div id="usersUl"></div>
                <div id="newUserUl"></div>
                <div id="reId" th:text="${reId}"></div>
                <div id="jobId" th:text="${jobId}"></div>
            </ul>
<!--            <div th:text="${reId}" id="reId" hidden></div>-->
<!--            <div th:text="${jobId}" id="jobId" hidden></div>-->
        </div>
        <div class="panel panel-default" style="float:right;width: 70%;height:1000px;border-collapse:collapse;border:1px solid black;">
            <div style="text-align: center;font-size: 50px;color: #b8aaf3;padding-top: 500px;" id="noChatDiv">
                请选择一个聊天
            </div>
            <div class="panel-default" style="display: none;" id="chatDiv">
            <div class=" panel-heading">
                <span id="reRealname"></span> 丨 <span id="companyName"></span> 丨 <span id="reCompanyPosition">开发工程师</span>
            </div>
            <div class=" panel-heading">
                <a href="" id="jobUrl"></a>
            </div>
            <div class="panel-body" style="height: 900px">
                <div style="height: 75%;border: 1px solid black;overflow: scroll" id="chatContent" >
                </div>
                <div style="height: 25%;">
                    <textarea id="text" style="height: 85%;width:100%;resize: none" ></textarea>
                    <div style="float:right;">
                        <button id="sendButton" type="button" onclick="send(this)" class="btn btn-primary">发送</button>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
<span id="userType" th:text="${session.userType}"></span>
<span id="userId" th:text="${session.userId}"></span>
<span id="message"></span>
</body>

<script type="text/javascript">

    Date.prototype.Format = function (fmt) { // author: meizz
        var o = {
            "M+": this.getMonth() + 1, // 月份
            "d+": this.getDate(), // 日
            "h+": this.getHours(), // 小时
            "m+": this.getMinutes(), // 分
            "s+": this.getSeconds(), // 秒
            "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
            "S": this.getMilliseconds() // 毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    var webSocket;
    var newMsg = [];
    var tempArr = [];
    if ("WebSocket" in window)
    {
        webSocket = new WebSocket("ws://localhost:8281/websocket/"+document.getElementById('userType').innerHTML+"/"+document.getElementById('userId').innerHTML);

        //连通之后的回调事件
        webSocket.onopen = function()
        {
            // var received_msg = evt.data;
            // var obj = JSON.parse(received_msg);
            // alert(obj.users);
            //webSocket.send( document.getElementById('username').value+"已经上线了");
            console.log("已经连通了websocket");
            setMessageInnerHTML("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt)
        {
            var chat = {};
            var received_msg = evt.data;
            console.log("数据已接收:" +received_msg);
            var obj = JSON.parse(received_msg);
            //setMessageInnerHTML(obj.from+"对"+obj.to+"说："+obj.msg);
            var reId = document.getElementById("sendButton").dataset.reId;
            var jobId = document.getElementById("sendButton").dataset.jobId;

            var fromChars = obj.from.split("-");
            var toChars = obj.to.split("-");
            if(reId == fromChars[1] && jobId == obj.jobId){
                $("#chatContent").append("<p class=\"chatTime\">" + obj.time + "</p>");
                $("#chatContent").append("<p><span style=\"background: #b8aaf3;color: black;\">" + obj.msg + "</span></p>");
            }
            chat['jsId'] = toChars[1];
            chat['reId'] = fromChars[1];
            chat['jobId'] = obj.jobId;
            chat['chatContent'] = obj.msg;
            chat['chatSendTime'] = obj.time;
            chat['isJsSend'] = 0;
            chat['isRead'] = 0;
            // chat.set("jsId",toChars[1]);
            // chat.set("reId",fromChars[1]);
            // chat.set("jobId",obj.jobId);
            // chat.set("chatContent",obj.msg);
            // chat.set("chatSendTime",obj.time);
            // chat.set("isJsSend",0);
            // chat.set("isRead",0);
            newMsg.push(chat);

        };

        //连接关闭的回调事件
        webSocket.onclose = function() {
            console.log("连接已关闭...");
            setMessageInnerHTML("连接已经关闭....");
            //saveChatContent();
        };
    }
    else{
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket!");
    }
    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }


    function send(obj) {
        i=false;
        var toId = obj.dataset.reId;
        var jobId = obj.dataset.jobId;
        setMessageInnerHTML("js-"+document.getElementById('userId').innerHTML+"对re-"+toId+"说："+ $("#text").val());
        var message = {
            "msg":document.getElementById('text').value,
            "from":"js-"+document.getElementById('userId').innerHTML,
            "to":"re-"+toId,
            "jobId":jobId,
            "time": new Date().Format("yyyy-MM-dd hh:mm:ss")
        };
        var chat = {};
        chat['jsId'] = document.getElementById('userId').innerHTML;
        chat['reId'] = toId;
        chat['jobId'] = jobId;
        chat['chatContent'] = message['msg'];
        chat['chatSendTime'] = message['time'];
        chat['isJsSend'] = 1;
        chat['isRead'] = 0;
        // chat.set("jsId",document.getElementById('userId').innerHTML);
        // chat.set("reId",toId);
        // chat.set("jobId",jobId);
        // chat.set("chatContent",message['msg']);
        // chat.set("chatSendTime",message['time']);
        // chat.set("isJsSend",1);
        // chat.set("isRead",0);
        // newMsg.push(chat);
        $.when(
            saveChatContent(chat)
        ).done(function () {
            $("#chatContent").append("<p class=\"chatTime\">" + message['time'] + "</p>");
            $("#chatContent").append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black\">" + message['msg'] + "</span></p>");
            webSocket.send(JSON.stringify(message));
            $("#text").val("");
        });

    }
    window.onbeforeunload = function () {
        webSocket.close();
    }

</script>
</html>