<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<style>
    .tags{
        margin-right: 10px;
    }
    .headLabel{
        font-size: 18px;
        font-weight: 700;
    }
</style>
<script type="text/javascript">
    function chat(jsId,jobId,reId){
        if(jsId){
            window.location.href="/job/chat?reId="+reId+"&jobId="+jobId;
        }else{
            alert("请先进行登录");
        }
    }
    function jobCollection(jsId,jobId) {
        document.getElementById("collectButton").disabled=true;
        if(jsId == null){
            alert("请先进行登录");
            document.getElementById("collectButton").disabled=false;
        }else{
            $.ajax({
                type: "GET",
                url: "/job/jobCollection",
                data: {"jsId":jsId,"jobId":jobId},
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function(data) {
                   if(data['success'] == true){
                       alert("收藏成功");
                       window.location.href = "/job/getJobDetail?jobId="+jobId;
                   }else{
                       alert("收藏失败");
                   }
                }
            });
        }
    }
    function cancelCollection(jsId,jobId) {
        if(jsId){
            $.ajax({
                type: "GET",
                url: "/job/cancelCollection",
                data: {"jsId": jsId, "jobId": jobId},
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (data) {
                    if (data['success'] == true) {
                        alert("取消收藏成功");
                        window.location.href = "/job/getJobDetail?jobId="+jobId;
                    } else {
                        alert("取消收藏失败");
                    }
                }
            });
        }else {
            alert("请先登录");
        }
    }
</script>
<body>
<header id="header" class="header-scrolled">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/getLoginIndex" style="font-weight: 600;color: #00b38a;font-size: 30px">XXX招聘</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/getLoginIndex">首页</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="elements.html">elements</a></li>
                            <li><a href="search.html">search</a></li>
                            <li><a href="single.html">single</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="../register.html">注册</a></li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="../login.html">登录</a></li>
                    <li style="border: 1px white solid" th:if="${session.userName != null}"><a href="#" th:text="${session.userName}"></a>
                        <ul style="margin-top: 0px">
                            <li><a th:href="@{/jsPersonCenter(id=${session.id})}">个人中心</a> </li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
    <div class="panel panel-default" style="margin-top: 70px;">
    <div class="panel-heading" >
        <div class="clearfix" style="width: 1100px;margin: 0 auto">
        <div style="float: left;width: 70%">
            <br/>
            <p style="font-size: 30px;font-weight: 700"><span th:text="${job.jobName}"></span>　<span style="color: red" th:text="${job.salary}+'元/月'">12-24K·15薪</span></p>
            <br/>
            <p style="font-size: 15px"><span th:text="${job.workCity}"></span> · <span th:text="${job.expConditionStr}">工作经验</span> · <span th:text="${job.eduConditionStr}">教育经验</span></p>
            <br/>
            <p style="font-size: 15px" ><span class="label label-info tags" th:each="companyTag:${job.companyTags}" th:text="${companyTag}"></span></p>
        </div>
        <div style="float: right;width: 30%;padding-top: 40px;">
            <button class="btn btn-primary btn-lg col-md-12" type="button" th:onclick="chat([[${session.userId}]],[[${job.jobId}]],[[${job.recruiterId}]])">立即沟通</button>
        </div>
        </div>
    </div>
    <div class="panel-body" style="width: 1100px;margin: 0 auto">
        <div class="clearfix">
            <div style="float: left;margin-right: 15px">
                <img style="width:80px; height:80px; border-radius:100%; overflow:hidden;border: 1px solid black"/>
            </div>
            <div style="float: left;padding-top: 14px">
                <p th:text="${job.reRealname}">HR姓名</p>
                <p ><span th:text="${job.companyName}">公司名称</span>　<span th:text="${job.reCompanyPosition}">所属职位</span></p>
            </div>
            <div style="float: right">
                <button class="btn btn-default" type="button" th:if="${job.isCollected == 1}" th:onclick="cancelCollection([[${session.userId}]],[[${job.jobId}]])">取消收藏</button>
                <button class="btn btn-default" type="button" th:if="${job.isCollected == 0}" th:onclick="jobCollection([[${session.userId}]],[[${job.jobId}]])" id="collectButton">感兴趣</button>
                <button class="btn btn-default" type="button">举报</button>
            </div>
        </div>
        <div>
            <label class="glyphicon glyphicon-pushpin page-header headLabel">职位描述</label>
            <p th:utext="${job.jobDetail}">1232456</p>
        </div>
        <div>
            <label class="glyphicon glyphicon-pushpin page-header headLabel">公司介绍</label>
            <p>阿里巴巴集团的使命是让天下没有难做的生意。
                我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算、数字媒体和娱乐以及创新项目和其他业务。我们并通过子公司菜鸟网络及所投资的关联公司口碑，参与物流和本地服务行业，同时与蚂蚁金融服务集团有战略合作，该金融服务集团主要通过中国领先的第三方网上支付平台支付宝运营。

                我们的愿景
                我们旨在构建未来的商务生态系统。我们的愿景是让客户相会、工作和生活在阿里巴巴，并持续发展最少102年。</p>
        </div>
        <div>
            <label class="glyphicon glyphicon-pushpin page-header headLabel">工作地址</label>
            <p th:text="${job.workAddress}"></p>
        </div>
    </div>
</div>
</body>
</html>