<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
<div style="margin:0px auto;margin-top:20px;width: 1600px"></div>
        <div class="panel panel-default jobList">
            <div style="float: left;width: 50%;padding-top: 35px;padding-left: 35px; border: 1px solid black">
                <p><a style="font-size: 20px;" href="#">Java实习</a>　[广州]　发布于2020-04-01</p>
                <br/>
                <p style="font-size: 16px;"><span style="color: orange;font-weight: 700" >4-8K·14薪</span> 丨 <span>3天/周</span> 丨 <span>1-3年</span> 丨 <span >本科</span> 丨 <span><a href="#"> X先生 高级开发工程师</a></span></p>
                <br/>
                <p ><span class="label label-info tags">Java</span><span class="label label-info tags">php</span><span class="label label-info tags">MySQL</span></p>
            </div>
            <div style="float: right;width: 50%;padding-top: 35px;padding-left: 35px;border: 1px solid black">
                <p><a style="font-size: 20px;" href="#">XX科技有限公司</a></p>
                <br/>
                <p style="font-size: 16px;"> <span>所属行业</span> 丨 <span>融资阶段</span> 丨 <span >公司规模</span></p>
                <br/>
                <p><span class="label label-info tags">五险一金</span><span class="label label-info tags">节日福利</span><span class="label label-info tags">MySQL</span></p>
            </div>
        </div>
<!--<ul class="pagination pagination-lg" >-->
<!--    <li th:class="${searchRequest.indexPage==1}?'disabled' : ''"><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-1})}">上一页</a></li>-->
<!--    <li th:if="${searchRequest.indexPage-3 >=1}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-3})}" th:text="${searchRequest.indexPage -3}" >1</a></li>-->
<!--    <li th:if="${searchRequest.indexPage-2 >=1}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-2})}" th:text="${searchRequest.indexPage -2}" >1</a></li>-->
<!--    <li th:if="${searchRequest.indexPage-1 >=1}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-1})}" th:text="${searchRequest.indexPage -1}" >1</a></li>-->
<!--    <li class="active"><a href="#" th:text="${searchRequest.indexPage}" >1</a></li>-->
<!--    <li th:if="${searchRequest.indexPage+1 <=searchRequest.totalPage}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+1})}" th:text="${searchRequest.indexPage +1}" >1</a></li>-->
<!--    <li th:if="${searchRequest.indexPage+2 <=searchRequest.totalPage}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+2})}" th:text="${searchRequest.indexPage +2}" >1</a></li>-->
<!--    <li th:if="${searchRequest.indexPage+3 <=searchRequest.totalPage}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+3})}" th:text="${searchRequest.indexPage +3}" >1</a></li>-->

<!--    <li th:class="${searchRequest.indexPage==searchRequest.totalPage}?'disabled' : ''" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},-->
<!--            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+1})}">下一页</a></li>-->
<!--</ul><br>-->
</body>
</html>