<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<style>
    .table tbody tr td{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
    function showModal(jobId,jobName,jobDetail,expCondition,eduCondition,salary,workCity,workAddress,postDate,jobClassesId,jobClassesName,tagsStr){
        document.getElementById("jobId").value=jobId;
        document.getElementById("jobName").value=jobName;
        document.getElementById("jobDetail").value=jobDetail;
        if(expCondition){
            $("#expCondition").val(expCondition);
        }
        if(eduCondition){
            $("#eduCondition").val(eduCondition);
        }
        document.getElementById("salary").value=salary;
        document.getElementById("workCity").value=workCity;
        document.getElementById("workAddress").value=workAddress;
        document.getElementById("jobClassesId").value = jobClassesId;
        document.getElementById("jobClassesName").value=jobClassesName;
        document.getElementById("tag").value=tagsStr;
        $("#myModal").modal();
    }
    function showModal2(){
        document.getElementById("jobId").value="";
        document.getElementById("jobName").value="";
        document.getElementById("jobDetail").value="";
        $("#expCondition").val("");
        $("#eduCondition").val("");
        document.getElementById("salary").value="";
        document.getElementById("workCity").value="";
        document.getElementById("workAddress").value="";
        document.getElementById("jobClassesId").value = "";
        document.getElementById("jobClassesName").value="";
        document.getElementById("tag").value="";
        $("#myModal").modal();
    }
    function showClasses() {
        $.ajax({
            type: "GET",
            url: "/job/getClasses2",
            data: {},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function(data){
                for(var i = 0; i < data.length;i++) {
                    var classes = data[i];
                    $("#classesUl").append(" <li onmouseover= \"showNext(this)\" onmouseout=\"clearLi()\" value="+classes['classesId']+"><a href=\"#\">"+classes['classesName']+"</a></li>");
                }
            }
        });
    }
    function showNext(obj) {
        $.ajax({
            type: "GET",
            url: "/job/getChildClasses",
            data: {"classesId":obj.value},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function(data) {
                document.getElementById("childClassesUl").style.display="block";
                $("#childClassesUl").html("");
                var num = (parseInt(obj.value)-1 ) * 26.5;
                document.getElementById("childClassesUl").style.marginTop = num + "px";
                document.getElementById("childClassesUl").value = data[0]['classesId'];
                document.getElementById("jobClassesUl").value = data[0]['classesId'];
                for (var i = 0; i < data.length; i++) {
                    var childClasses = data[i];
                    $("#childClassesUl").append(" <li onmouseover=\"showNextOfNext(this)\"  data-num=\""+ i +"\" value=" + childClasses['childClassesId'] + "><a href=\"#\" >" + childClasses['childClassesName'] + "</a></li>");
                }
            }
        });
    }
    function showNextOfNext(obj) {
        $.ajax({
            type: "GET",
            url: "/job/getJobClasses",
            data: {"childClassesId":obj.value},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function(data) {
                document.getElementById("jobClassesUl").style.display="block";
                $("#jobClassesUl").html("");
                var num1 = document.getElementById("childClassesUl").style.marginTop;
                var num2 = (parseInt(obj.dataset.num)) * 26.5;
                var num = parseInt(num1) + num2;
                document.getElementById("jobClassesUl").style.marginTop = num + "px";
                for (var i = 0; i < data.length; i++) {
                    var jobClasses = data[i];
                    $("#jobClassesUl").append(" <li onclick=\"changeClasses(this)\" value=\"" + jobClasses['jobClassesId'] + "\"><a href=\"#\" >" + jobClasses['jobClassesName'] + "</a></li>");
                }
            }
        });
    }
    function clearLi() {
        //$("#childClassesUl li") .remove();
        document.getElementById("childClassesUl").style.display="none";
    }
    function clearLi2(){
        document.getElementById("jobClassesUl").style.display="none";
    }
    function changeClasses(obj) {
        document.getElementById("jobClassesId").value = obj.value;
        document.getElementById("jobClassesName").value = obj.innerText;
    }
    function ajaxSubmit(){
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/job/addOrUpdateJob" ,//url
            data: $('#jobForm').serialize(),
            success: function (data) {
                if(data['success']==="true"){
                    if(data['userType']==="js"){
                        window.location.href="/getLoginIndex";
                    }else{
                        window.location.href="/getReIndex";
                    }
                }else{
                    alert(data['msg']);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }
</script>
<body>
<div class="panel panel-default"  style="width: 1598px;height: 800px;">
    <div class="panel panel-heading">
        <button type="button" onclick="showModal2()">发布职位</button>
    </div>
    <div class="panel panel-body">
        <div>
            <table class="table table-bordered " style="table-layout:fixed;">
                <thead>
                <tr>
                    <th class="col-md-1">职位名称</th>
                    <th class="col-md-2">职位描述</th>
                    <th class="col-md-1">经验要求</th>
                    <th class="col-md-1">学历要求</th>
                    <th class="col-md-1">薪资</th>
                    <th class="col-md-1">工作城市</th>
                    <th class="col-md-1">工作地址</th>
                    <th class="col-md-1">发布日期</th>
                    <th class="col-md-1">职位分类</th>
                    <th class="col-md-1">技能标签</th>
                    <th class="col-md-1">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job:${jobList}">
                    <td th:text="${job.jobName}" th:title="${job.jobName}">Java实习生</td>
                    <td th:text="${job.jobDetail}" th:title="${job.jobDetail}">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                    <td th:text="${job.expConditionStr}" th:title="${job.expConditionStr}">在校生</td>
                    <td th:text="${job.eduConditionStr}" th:title="${job.eduConditionStr}">本科</td>
                    <td th:text="${job.salary}" th:title="${job.salary}">3000/月</td>
                    <td th:text="${job.workCity}" th:title="${job.workCity}">广州</td>
                    <td th:text="${job.workAddress}" th:title="${job.workAddress}">广州白云仲恺农业工程学院</td>
                    <td th:text="${job.postDate}" th:title="${job.postDate}">2020-04-17 10:47:00</td>
                    <td th:text="${job.jobClassesName}" th:title="${job.jobClassesName}">Java</td>
                    <td th:text="${job.tagsStr}" th:title="${job.tagsStr}"></td>
                    <td><button class="btn btn-primary" type="button" th:onclick="showModal([[${job.jobId}]],[[${job.jobName}]],[[${job.jobDetail}]],[[${job.expCondition}]],[[${job.eduCondition}]],[[${job.salary}]],[[${job.workCity}]],[[${job.workAddress}]],[[${job.postDate}]],[[${job.jobClassesId}]],[[${job.jobClassesName}]],[[${job.tagsStr}]])">修改</button> <button class="btn btn-danger" type="button">删除</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <form id="jobForm">
                <div class="modal-body">
                    <input id="jobId" name="jobId" type="text">
                    <div class="form-group">
                        <label for="jobName" class="col-sm-4 control-label">职位名称：</label>
                        <input type="text" class="form-control" id="jobName" name="jobName" placeholder="职位名称">
                    </div>
                    <div class="form-group">
                        <label for="jobDetail" class="col-sm-4 control-label">职位详情：</label>
                        <textarea style="height: 300px;resize: none" class="form-control" id="jobDetail" name="jobDetail"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="expCondition" class="col-sm-4 control-label">经验要求：</label>
                        <select class="form-control" id="expCondition" name="expCondition">
                            <option value="">不限</option>
                            <option value="1">在校生</option>
                            <option value="2">应届生</option>
                            <option value="3">1年以内</option>
                            <option value="4">1-3年</option>
                            <option value="5">3-5年</option>
                            <option value="6">5-10年</option>
                            <option value="7">10年以上</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="eduCondition" class="col-sm-4 control-label">学历要求：</label>
                        <select class="form-control" id="eduCondition" name="eduCondition">
                            <option value="">不限</option>
                            <option value="1">初中及以下</option>
                            <option value="2">中专/中技</option>
                            <option value="3">高中</option>
                            <option value="4">大专</option>
                            <option value="5">本科</option>
                            <option value="6">硕士</option>
                            <option value="7">博士</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="salary" class="col-sm-4 control-label">薪资(单位:月/元)</label>
                        <input type="text" class="form-control" id="salary" name="salary"  placeholder="请填写纯数字">
                    </div>
                    <div class="form-group">
                        <label for="workCity" class="col-sm-4 control-label">工作城市</label>
                        <input type="text" class="form-control" id="workCity" name="workCity" placeholder="工作城市">
                    </div>
                    <div class="form-group">
                        <label for="workAddress" class="col-sm-4 control-label">工作地址</label>
                        <input type="text" class="form-control" id="workAddress" name="workAddress" placeholder="工作地址">
                    </div>
                    <div class="form-group">
                        <label for="workAddress" class="col-sm-4 control-label">职位分类</label>
                        <div class="input-group form-control" style="padding: 0"><!--保持内联，消除边框，类似于form-inline-->
                            <input type="text" id="jobClassesId" name="jobClassesId" hidden/>
                            <input type="text" id="jobClassesName" name="jobClassesName" class="form-control " disabled/>
                            <div class="input-group-btn dropdown" id="jobClassesDiv"><!--不换行，与相邻元素内联，包含dropdown-->
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        onclick="showClasses()">
                                    请选择<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" onmouseout="clearLi2()" role="menu" id="classesUl">
                                </ul>
                                <ul class="dropdown-menu" onmouseover="showNext(this)"
                                    style="margin-left: 160px;display: none" role="menu" id="childClassesUl">
                                </ul>
                                <ul class="dropdown-menu" onmouseover="showNext(this)"
                                    style="margin-left: 320px;display: none" role="menu" id="jobClassesUl">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tag" class="col-sm-4 control-label">职位标签</label>
                        <input type="text" class="form-control" id="tag" name="tag" placeholder="多个标签请用“,”隔开">
                    </div>
                </div>
                <div class="modal-footer form-group" >
                    <button type="button" onclick="ajaxSubmit()" class="btn btn-default">提交</button>
                    <button type="reset" class="btn btn-primary">重置</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script type="text/javascript">
    $('#jobClassesDiv').on('hidden.bs.dropdown', function() {
        clearLi();
        clearLi2();
    })
</script>
</html>