<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fileinput.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
    <script type="text/javascript">
        var upload = function (c, d) {
            "use strict";
            var $c = document.querySelector(c),
                $d = document.querySelector(d),
                file = $c.files[0],
                reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                $d.setAttribute("src", e.target.result);
            };
        };
    </script>
    <script type="text/javascript">
        function updatePersonInfo() {
            var personInfoDiv = document.getElementById("personInfoDiv");
            var classes = personInfoDiv.getElementsByClassName("editable");
            for(var i = 0; i < classes.length; i++){
                classes[i].removeAttribute("disabled");
            }
            document.getElementById("editButton").style.display="none";
            document.getElementById("submitButton").style.display="block";
            document.getElementById("img-txz").style.cursor = "pointer";
            document.getElementById("img-txz").addEventListener("click",function(){
                $("#file-txz").click();
            },false)
        }
        function updateJobCondition() {
            var jobConditionDiv = document.getElementById("jobConditionDiv");
            var classes = jobConditionDiv.getElementsByClassName("editable");
            for(var i = 0; i < classes.length; i++){
                classes[i].removeAttribute("disabled");
            }
            document.getElementById("editButton2").style.display="none";
            document.getElementById("submitButton2").style.display="block";
        }
    </script>
</head>
<style>
    .divLabel{
        font-size:20px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .editable{
    }
</style>
<body>
<div class="panel-default">
    <div class="panel-body" style="height: 1500px;">
        <form id="personInfoDiv" method="post" class="clearfix" enctype="multipart/form-data" action="/changeJsInfo">
        <div class="form-horizontal" style="float: left;width: 85%;">
            <label class="glyphicon glyphicon-pushpin divLabel" >个人信息</label>
            <div class="form-group">
                <label class="control-label col-md-1">真实姓名</label>
                <div class="col-md-3">
                    <input type="text" name="jsRealname" class="form-control editable" th:value="${js.jsRealname}" disabled/>
                </div>
                <label class="control-label col-md-2">性别</label>
                <div class="col-md-3">
                        <label class="btn btn-default col-md-6 editable" for="man" disabled>
                            <input type="radio" class="editable" name="jsGender" th:checked="${js.jsGender == '男'}" value="男" id="man" disabled> 男
                        </label>
                        <label class="btn btn-default col-md-6 editable" for="woman" disabled>
                            <input type="radio" class="editable" name="jsGender" th:checked="${js.jsGender == '女'}" value="女" id="woman" disabled> 女
                        </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">年龄</label>
                <div class="col-md-3">
                    <input type="text" name="jsAge" class="form-control editable" th:value="${js.jsAge}" disabled />
                </div>
                <label class="control-label col-md-2">手机号</label>
                <div class="col-md-3">
                    <input type="text" name="jsPhone" class="form-control editable" th:value="${js.jsPhone}" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">邮箱</label>
                <div class="col-lg-3">
                    <input type="text" name="jsEmail" class="form-control editable" th:value="${js.jsEmail}" disabled/>
                </div>
            </div>
        </div>
        <div style="float: right;width: 15%;">
            <div style="padding-top: 20px;padding-bottom: 20px;">
                <div class="aui-info">
                    <div>
                    </div>
                    <img th:src="${js.jsHeadImg == null}?'#':'../jsHeadImg/'+${js.jsHeadImg}" id="img-txz" style="width: 150px;height: 200px"/>
                    <input type="hidden" name="oldJsHeadImg" th:value="${js.jsHeadImg}">
                    <input type="file" accept="image/*" id="file-txz" name="jsHeadImg" onchange="upload('#file-txz', '#img-txz');" style="display: none" />
                </div>
            </div>
            <div>
                <button type="button" id="editButton" class="btn btn-primary glyphicon glyphicon-pencil" style="width: 75px;height: 35px;" onclick="updatePersonInfo()" >编辑</button>
                <button type="submit" id="submitButton" style="width: 75px;height: 35px;display: none" class="btn btn-primary glyphicon glyphicon-save" >保存</button>
            </div>
        </div>
        </form>

        <hr class="divider" />

        <form id="jobConditionDiv" class="clearfix" action="/changeJobCondition" method="post">
            <div class="form-horizontal" style="float: left;width: 85%;">
                <label class="glyphicon glyphicon-pushpin divLabel" >求职信息</label>
                <div class="form-group">
                    <label class="control-label col-md-1">工作经验</label>
                    <div class="col-md-3">
                        <select  name="jsExp" class="form-control editable"  disabled>
                            <option value="">工作经验</option>
                            <option th:selected="${js.jsExp==1}" value="1">在校生</option>
                            <option th:selected="${js.jsExp==2}" value="2">应届生</option>
                            <option th:selected="${js.jsExp==3}" value="3">1年以内</option>
                            <option th:selected="${js.jsExp==4}" value="4">1-3年</option>
                            <option th:selected="${js.jsExp==5}" value="5">3-5年</option>
                            <option th:selected="${js.jsExp==6}" value="6">5-10年</option>
                            <option th:selected="${js.jsExp==7}" value="7">10年以上</option>
                        </select>
                        </select>
                    </div>
                    <label class="control-label col-md-2">期望薪资</label>
                    <div class="col-md-3">
                        <select name="jsSal" class="form-control editable"  disabled>
                            <option value="">薪资要求</option>
                            <option th:selected="${js.jsSal==1}" value="1">3K以下</option>
                            <option th:selected="${js.jsSal==2}" value="2">3-5K</option>
                            <option th:selected="${js.jsSal==3}" value="3">5-10K</option>
                            <option th:selected="${js.jsSal==4}" value="4">10-15K</option>
                            <option th:selected="${js.jsSal==5}" value="5">15-20K</option>
                            <option th:selected="${js.jsSal==6}" value="6">20-30K</option>
                            <option th:selected="${js.jsSal==7}" value="7">30-50K</option>
                            <option th:selected="${js.jsSal==8}" value="8">50K以上</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">学历</label>
                    <div class="col-md-3">
                        <select name="jsEdu" class="form-control editable" disabled>
                            <option value="">学历要求</option>
                            <option th:selected="${js.jsEdu==1}" value="1">初中及以下</option>
                            <option th:selected="${js.jsEdu==2}" value="2">中专/中技</option>
                            <option th:selected="${js.jsEdu==3}" value="3">高中</option>
                            <option th:selected="${js.jsEdu==4}" value="4">大专</option>
                            <option th:selected="${js.jsEdu==5}" value="5">本科</option>
                            <option th:selected="${js.jsEdu==6}" value="6">硕士</option>
                            <option th:selected="${js.jsEdu==7}" value="7">博士</option>
                        </select>
                    </div>
                    <label class="control-label col-md-2">毕业学校</label>
                    <div class="col-md-3">
                        <input type="text" name="jsCollege" class="form-control editable" th:value="${js.jsCollege}" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">技能标签</label>
                    <div class="col-md-6">
                        <input type="text" name="jsTag" class="form-control editable" th:value="${js.jsTag}" placeholder="多个标签请用“,”隔开" disabled/>
                    </div>
                </div>
            </div>
            <div style="float: right;width: 15%;">
                <div style="padding-top: 20px;padding-bottom: 20px;">

                </div>
                <div style="margin-top: 95px">
                    <button type="button" id="editButton2" class="btn btn-primary glyphicon glyphicon-pencil" style="width: 75px;height: 35px;" onclick="updateJobCondition()" >编辑</button>
                    <button type="submit" id="submitButton2" style="width: 75px;height: 35px;display: none" class="btn btn-primary glyphicon glyphicon-save" >保存</button>
                </div>
            </div>
        </form>

        <hr class="divider" />

        <form id="selfDiv" class="clearfix" action="jsInfo.html">
            <div class="form-horizontal" style="float: left;width: 85%;">
                <label class="glyphicon glyphicon-pushpin divLabel" >自我介绍</label>
                <div class="form-group">
                    <textarea class="form-control" style="margin-left: 20px;width: 879px; height: 205px;resize: none" disabled></textarea>
                </div>
            </div>
            <div style="float: right;width: 15%;">
                <div style="padding-top: 20px;padding-bottom: 20px;">

                </div>
                <div style="margin-top: 170px">
                    <button type="button" id="editButton3" class="btn btn-primary glyphicon glyphicon-pencil" style="width: 75px;height: 35px;" onclick="updatePersonInfo()" >编辑</button>
                    <button type="submit" id="submitButton3" style="width: 75px;height: 35px;display: none" class="btn-primary glyphicon glyphicon-save" >保存</button>
                </div>
            </div>
        </form>

        <hr class="divider" />

        <form id="eduDiv" class="clearfix" action="jsInfo.html">
            <div class="form-horizontal" style="float: left;width: 85%;">
                <label class="glyphicon glyphicon-pushpin divLabel" >最高教育经历</label>
                <div class="form-group">
                    <label class="control-label col-md-1">学历</label>
                    <div class="col-md-3">
                        <input type="text" name="realname" class="form-control editable" value="随时到岗" disabled/>
                    </div>
                    <label class="control-label col-md-1">毕业院校</label>
                    <div class="col-md-3">
                        <input type="text" name="realname" class="form-control editable" value="Java" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">就读年份</label>
                    <div class="col-md-3">
                        <input type="text" name="realname" class="form-control editable" value="Java开发" disabled/>
                    </div>
                    <label class="control-label col-md-1">就读专业</label>
                    <div class="col-md-3">
                        <input type="text" name="realname" class="form-control editable" value="广州" disabled/>
                    </div>
                </div>
            </div>
            <div style="float: right;width: 15%;">
                <div style="padding-top: 20px;padding-bottom: 20px;">

                </div>
                <div style="margin-top: 95px">
                    <button type="button" id="editButton4" class="btn btn-primary glyphicon glyphicon-pencil" style="width: 75px;height: 35px;" onclick="updatePersonInfo()" >编辑</button>
                    <button type="submit" id="submitButton4" style="width: 75px;height: 35px;display: none" class="btn-primary glyphicon glyphicon-save" >保存</button>
                </div>
            </div>
        </form>
        <hr class="divider" />
</div>
</body>
</html>