<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<style>
    .chatTime{
        text-align: center;
    }
    .mySend{
        text-align: right;
    }
    #chatContent p{
        padding: 10px;
        line-height: 5px;
    }
    #chatContent p span{
        padding:10px;
    }
</style>
<script type="text/javascript">
    window.onload = function () {
        getChatUsers();
    }
    function getChatUsers(tempJsId,tempJobId) {
        $("#usersUl").html("");
        $.ajax({
            type: "POST",
            url: "/job/getChatUsers",
            dataType: "JSON",
            success: function(data) {
                for(var i = 0; i < data.length; i++){
                    var jsId = data[i]['jsId'];
                    var jobId = data[i]['jobId'];
                    var jsRealname = data[i]['jsRealname'];
                    var jsHeadImgUrl = '#';
                    if(data[i]['jsHeadImg']){
                        jsHeadImgUrl = "../jsHeadImg/"+data[i]['jsHeadImg'];
                    }
                    var jsCollege = '';
                    if(jsCollege) {
                        jsCollege = data[i]['jsCollege'];
                    }
                    var notRead;
                    if(data[i]['notRead']){
                        notRead = data[i]['notRead'];
                    }else{
                        notRead = "";
                    }
                    if(tempJsId === jsId && tempJobId === jobId){
                        $("#usersUl").append("<li class=\"list-group-item\" style=\"cursor: pointer;margin-bottom: 2px;border: 1px blue solid\" onclick=\"showChat(this," + jsId + "," + jobId + ")\" >\n" +
                            "                    <div style=\"height:100px;\">\n" +
                            "                        <div  style=\"float:left;width: 40%; height: 90%; \">\n" +
                            "                            <img src=\""+jsHeadImgUrl+"\" style=\"float:left;margin-right:20px;width:80px; height:80px; border-radius:100%; overflow:hidden;border: 1px black solid\"/>\n" +
                            "                        </div>\n" +
                            "                        <div style=\"float:right;width: 60%;height: 90%;padding-top: 15px\">\n" +
                            "                            <p><a onclick= \"showJs("+jsId+")\">" + jsRealname + "</a></p>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                </li>")
                    }else {
                        $("#usersUl").append("<li class=\"list-group-item\" style=\"cursor: pointer;margin-bottom: 2px\" onclick=\"showChat(this," + jsId + "," + jobId + ")\" >\n" +
                            "                    <div style=\"height:100px;\">\n" +
                            "                        <div  style=\"float:left;width: 40%; height: 90%; \">\n" +
                            "                            <img src=\""+jsHeadImgUrl+"\" style=\"float:left;margin-right:20px;width:80px; height:80px; border-radius:100%; overflow:hidden;border: 1px black solid\"/>\n" +
                            "                        </div>\n" +
                            "                        <div style=\"float:right;width: 60%;height: 90%;padding-top: 15px\">\n" +
                            "                            <p><a onclick=\"showJs("+jsId+")\">" + jsRealname + "</a></p>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                </li>")
                    }
                }
            }
        })
    }
    function showChat(obj,jsId,jobId) {
        document.getElementById("sendButton").dataset.jsId = jsId;
        document.getElementById("sendButton").dataset.jobId = jobId;
        var li = document.getElementsByClassName("list-group-item");
        for(var i = 0; i < li.length; i++){
            li[i].style.border="";
        }
        obj.style.border = "1px blue solid";
        $('#chatContent').html("");
        $.when(
            $.ajax({
                type: "POST",
                url: "/job/showChatContent",
                data: {"jsId":jsId,"jobId":jobId},
                dataType: "JSON",
                success: function(data) {
                    //var chatList = data['chatList'];
                    for(var i = 0; i < data.length; i++){
                        document.getElementById("jobUrl").innerHTML = data[0]['jobName'];
                        document.getElementById("jobUrl").setAttribute("href","/job/getJobDetail?jobId="+data[0]['jobId']);
                        $('#chatContent').append("<p class=\"chatTime\">"+data[i]['chatSendTime']+"</p>");
                        if(data[i]['isJsSend']===1){
                            $('#chatContent').append("<p ><span style=\"background: #b8aaf3;color: black;\">"+data[i]['chatContent']+"</span></p>");
                        }else{
                            $('#chatContent').append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black;\">"+data[i]['chatContent']+"</span></p>");
                        }
                    }
                }
            })
        ).done(function () {
            // newMsg.sort((a,b)=> {
            //     return a.get('chatSendTime') > b.get('chatSendTime') ? 1 : -1;
            // });
            if(newMsg){
                for(var tmp=0; tmp < newMsg.length;tmp++){
                    if(newMsg[tmp]['jobId'] == jobId && newMsg[tmp]['jsId'] == jsId){
                        $('#chatContent').append("<p class=\"chatTime\">"+newMsg[tmp]['chatSendTime']+"</p>");
                        if(newMsg[tmp]['isJsSend']==0){
                            $('#chatContent').append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black;\">" + newMsg[tmp]['chatContent'] + "</span></p>");
                        }else{
                            newMsg[tmp]['isRead'] = 1;
                            $('#chatContent').append("<p ><span style=\"background: #b8aaf3;color: black;\">"+newMsg[tmp]['chatContent']+"</span></p>");
                        }
                        newMsg.splice(tmp,1);
                    }
                }
            }
        }).fail(function () {

        });
        document.getElementById("noChatDiv").style.display = "none";
        document.getElementById("chatDiv").style.display = "block";
        getChatUsers(jsId,jobId);
    }
    function saveChatContent(chat) {
        //把发送的消息存入数据库
        // var sendMsg = newMsg;
        // for(var i = 0; i < sendMsg.length; i++){
        //     if(sendMsg[i]['isJsSend'] == 1){
        //         sendMsg.splice(i, 1);
        //     }
        // }
        if(chat) {
            $.ajax({
                type: "POST",
                url: "/job/saveChatContent",
                data: {"msg": JSON.stringify(chat)},
                dataType: "JSON",
                success: function (data) {
                    if (data['success'] == "true") {
                    } else {
                        alert("消息保存失败");
                    }
                },
                fail: function () {
                }
            })
        }
    }
</script>
<body>
<header id="header" class="header-scrolled">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="#" style="font-weight: 600;color: #00b38a;font-size: 30px">XXX招聘</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#">首页</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="elements.html">elements</a></li>
                            <li><a href="../templates/search.html">search</a></li>
                            <li><a href="single.html">single</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="register.html">注册</a></li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="login.html">登录</a></li>
                    <li style="border: 1px white solid"><a href="#" th:if="${session.userName != null}" th:text="${session.userName}"></a>
                        <ul style="margin-top: 0px">
                            <li><a th:href="@{/jsPersonCenter(type=${session.userType})}">个人中心</a> </li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<div class="panel panel-default" style="height: 500px;margin-top: 80px;">
    <div class="panel-body" style="margin:0 auto;width:1000px;" >
        <div class="panel panel-default" style="float:left;width: 30%;height:1000px; border:1px solid black;">
            <div class="panel-heading">
                30天内联系人
            </div>
            <ul class="list-group" id="usersUl">
            </ul>
        </div>
        <div class="panel panel-default" style="float:right;width: 70%;height:1000px;border-collapse:collapse;border:1px solid black;">
            <div style="text-align: center;font-size: 50px;color: #b8aaf3;padding-top: 500px;" id="noChatDiv">
                请选择一个聊天
            </div>
            <div class="panel-default" style="display: none;" id="chatDiv">
                <div class=" panel-heading">
                    <a href="" id="jobUrl"></a>
                </div>
                <div class="panel-body" style="height: 900px">
                    <div style="height: 75%;border: 1px solid black;overflow: scroll" id="chatContent">
                    </div>
                    <div style="height: 25%;">
                        <textarea id="text" style="height: 85%;width:100%;resize: none"></textarea>
                        <button id="sendButton" type="button" onclick="send(this)"
                                class="btn btn-primary" style="float:right;">发送
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="userType" th:text="${session.userType}"></span>
<span id="userId" th:text="${session.userId}"></span>
<span id="message"></span>
</body>
<script type="text/javascript">
    Date.prototype.Format = function (fmt) { // author: meizz
        var o = {
            "M+": this.getMonth() + 1, // 月份
            "d+": this.getDate(), // 日
            "h+": this.getHours(), // 小时
            "m+": this.getMinutes(), // 分
            "s+": this.getSeconds(), // 秒
            "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
            "S": this.getMilliseconds() // 毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    var webSocket;
    var newMsg = [];
    if ("WebSocket" in window)
    {
        webSocket = new WebSocket("ws://localhost:8281/websocket/"+document.getElementById('userType').innerHTML+"/"+document.getElementById('userId').innerHTML);

        //连通之后的回调事件
        webSocket.onopen = function()
        {
            // var received_msg = evt.data;
            // var obj = JSON.parse(received_msg);
            // alert(obj.users);
            //webSocket.send( document.getElementById('username').value+"已经上线了");
            console.log("已经连通了websocket");
            setMessageInnerHTML("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt)
        {
            var chat = [];
            var received_msg = evt.data;
            console.log("数据已接收:" +received_msg);
            var obj = JSON.parse(received_msg);
            setMessageInnerHTML(obj.from+"对"+obj.to+"说："+obj.msg);

            var jsId = document.getElementById("sendButton").dataset.jsId;
            var jobId = document.getElementById("sendButton").dataset.jobId;

            var fromChars = obj.from.split("-");
            var toChars = obj.to.split("-");
            if(jsId == fromChars[1] && jobId == obj.jobId){
                $("#chatContent").append("<p class=\"chatTime\">" + obj.time + "</p>");
                $("#chatContent").append("<p><span style=\"background: #b8aaf3;color: black;\">" + obj.msg + "</span></p>");
            }
            chat['jsId'] = fromChars[1];
            chat['reId'] = toChars[1];
            chat['jobId'] = obj.jobId;
            chat['chatContent'] = obj.msg;
            chat['chatSendTime'] = obj.time;
            chat['isJsSend'] = 1;
            chat['isRead'] = 0;
            newMsg.push(chat);
        };

        //连接关闭的回调事件
        webSocket.onclose = function()
        {
            console.log("连接已关闭...");
            setMessageInnerHTML("连接已经关闭....");
            //saveChatContent();
        };
    }
    else{
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket!");
    }
    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    function closeWebSocket() {
        //直接关闭websocket的连接
        webSocket.close();
    }

    function send(obj) {
        var toId = obj.dataset.jsId;
        var jobId = obj.dataset.jobId;
        setMessageInnerHTML("re-"+document.getElementById('userId').innerHTML+"对js-"+toId+"说："+ $("#text").val());
        var message = {
            "msg":document.getElementById('text').value,
            "from":"re-"+document.getElementById('userId').innerHTML,
            "to":"js-"+toId,
            "jobId":jobId,
            "time": new Date().Format("yyyy-MM-dd hh:mm:ss")
        };
        var chat = {};
        chat['jsId'] = toId;
        chat['reId'] = document.getElementById('userId').innerHTML;
        chat['jobId'] = jobId;
        chat['chatContent'] = message['msg'];
        chat['chatSendTime'] = message['time'];
        chat['isJsSend'] = 0;
        chat['isRead'] = 0;
        // newMsg.push(chat);
        saveChatContent(chat);
        $("#chatContent").append("<p class=\"chatTime\">"+message['time']+"</p>");
        $("#chatContent").append("<p class=\"mySend\"><span style=\"background: #4cd3e3;color: black\">"+message['msg']+"</span></p>");
        webSocket.send(JSON.stringify(message));
        $("#text").val("");

    }
</script>
</html>