<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var url = "/turnReInfo";
            $('#info').load(url);
        }
        function turnJobManage() {
            var url = "/turnJobManage";
            $('#info').load(url);
        }
        function turnReInfo() {
            var url = "/turnReInfo";
            $('#info').load(url);
        }
    </script>
</head>
<body>
<header id="header" class="header-scrolled">
    <div class="container">
        <div class="">
            <div id="logo" class="left">
                <a href="/getLoginIndex" style="font-weight: 600;color: #00b38a;font-size: 30px">XXX招聘</a>
            </div>
        </div>
    </div>
</header><!-- #header -->
<div class="panel panel-default" style="margin-top: 100px">
    <div class="panel-heading">
        <span th:text="${session.userName}+'的个人中心'">测试panel</span>
    </div>
    <div class="panel-body">
        <div style="float: left;width: 14%;">
            <ul class="list-group" >
                <li class="list-group-item" onclick="turnReInfo()"><a href="#">个人信息</a></li>
                <li class="list-group-item" onclick="turnJobManage()"><a href="#">职位管理</a></li>
                <li class="list-group-item"><a href="#">修改密码</a></li>
                <li class="list-group-item"><a href="#">推荐求职者</a></li>
                <li class="list-group-item"><a href="#">消息记录</a></li>
            </ul>
        </div>
        <div style="float: right;width: 85%;" id="info" ></div>
    </div>
</div>
</body>
</html>