<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fileinput.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
    <script type="text/javascript">
        var upload = function (c, d) {
            "use strict";
            var $c = document.querySelector(c),
                $d = document.querySelector(d),
                file = $c.files[0],
                reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                $d.setAttribute("src", e.target.result);
            };
        };
    </script>
    <script type="text/javascript">
        function updatePersonInfo() {
            var personInfoDiv = document.getElementById("personInfoDiv");
            var classes = personInfoDiv.getElementsByClassName("editable");
            for(var i = 0; i < classes.length; i++){
                classes[i].removeAttribute("disabled");
            }
            document.getElementById("editButton").style.display="none";
            document.getElementById("submitButton").style.display="block";
            document.getElementById("img-txz").style.cursor = "pointer";
            document.getElementById("img-txz").addEventListener("click",function(){
                $("#file-txz").click();
            },false)
        }
        function updateCompanyInfo() {
            var companyDiv = document.getElementById("companyDiv");
            var classes = companyDiv.getElementsByClassName("editable");
            for(var i = 0; i < classes.length; i++){
                classes[i].removeAttribute("disabled");
            }
            document.getElementById("editButton2").style.display="none";
            document.getElementById("submitButton2").style.display="block";
            document.getElementById("img-txz2").style.cursor = "pointer";
            document.getElementById("img-txz2").addEventListener("click",function(){
                $("#file-txz2").click();
            },false)
        }
    </script>
</head>
<style>
    .divLabel{
        font-size:20px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .editable{
    }
</style>
<body>
<div class="panel-default">
    <div class="panel-body" style="width:1600px;height: 1500px;">
        <form id="personInfoDiv" class="clearfix" method="post" enctype="multipart/form-data" action="/changeReInfo">
        <div class="form-horizontal" style="float: left;width: 85%;">
            <label class="glyphicon glyphicon-pushpin divLabel" >个人信息</label>
            <div class="form-group">
                <label class="control-label col-md-1">真实姓名</label>
                <div class="col-md-3">
                    <input type="text" name="reRealname" class="form-control editable" th:value="${re.reRealname}" disabled/>
                </div>
                <label class="control-label col-md-2">性别</label>
                <div class="col-md-3">
                        <label class="btn btn-default col-md-6 editable" for="man" disabled>
                            <input type="radio" class="editable" name="reGender" value="男" th:checked="${re.reGender=='男'}" id="man" disabled> 男
                        </label>
                        <label class="btn btn-default col-md-6 editable" for="woman" disabled>
                            <input type="radio" class="editable" name="reGender" value="女" th:checked="${re.reGender=='女'}" id="woman" disabled> 女
                        </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">手机号</label>
                <div class="col-md-3">
                    <input type="text" name="rePhone" class="form-control editable" th:value="${re.rePhone}" disabled />
                </div>
                <label class="control-label col-md-2">邮箱</label>
                <div class="col-md-3">
                    <input type="text" name="reEmail" class="form-control editable" disabled th:value="${re.reEmail}" />
                </div>
            </div>
        </div>
        <div style="float: right;width: 15%;">
            <div style="padding-top: 20px;padding-bottom: 20px;">
                <div class="aui-info">
                    <div>

                    </div>
                    <img th:src="${re.reHeadImg == null}?'#':'../reHeadImg/'+${re.reHeadImg}" id="img-txz" style="width: 150px;height: 200px"/>
                    <input type="hidden" name="oldJsHeadImg" th:value="${re.reHeadImg}">
                    <input type="file" accept="image/*" id="file-txz" name="reHeadImg" onchange="upload('#file-txz', '#img-txz');" style="display: none" />
                </div>
            </div>
            <div>
                <button type="button" id="editButton" class="btn btn-primary glyphicon glyphicon-pencil" style="width: 75px;height: 35px;" onclick="updatePersonInfo()" >编辑</button>
                <button type="submit" id="submitButton" style="width: 75px;height: 35px;display: none" class="btn btn-primary glyphicon glyphicon-save" >保存</button>
            </div>
        </div>
        </form>

        <hr class="divider" />

        <form id="companyDiv" class="clearfix" action="jsInfo.html">
            <div class="form-horizontal" style="float: left;width: 85%;">
                <input type="text" name="companyId" th:value="${company.companyId}">
                <label class="glyphicon glyphicon-pushpin divLabel" >公司信息</label>
                <div class="form-group">
                    <label class="control-label col-md-1">公司名称</label>
                    <div class="col-md-3">
                        <input type="text" name="companyName" class="form-control editable" th:value="${company.companyName}" disabled/>
                    </div>
                    <label class="control-label col-md-1">职称</label>
                    <div class="col-md-3">
                        <input type="text" name="companyPosition" class="form-control editable" th:value="${company.companyPosition}" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">所属行业</label>
                    <div class="col-md-3">
                        <input type="text" name="industry" class="form-control editable" th:value="${company.industry}" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">融资阶段</label>
                    <div class="col-md-3">
                        <select class="form-control editable" name="finanCondition" disabled>
                            <option value="">融资阶段</option>
                            <option th:selected="${company.finanCondition==1}" value="1">未融资</option>
                            <option th:selected="${company.finanCondition==2}" value="2">天使轮</option>
                            <option th:selected="${company.finanCondition==3}" value="3">A轮</option>
                            <option th:selected="${company.finanCondition==4}" value="4">B轮</option>
                            <option th:selected="${company.finanCondition==5}" value="5">C轮</option>
                            <option th:selected="${company.finanCondition==6}" value="6">D轮及以上</option>
                            <option th:selected="${company.finanCondition==7}" value="7">已上市</option>
                            <option th:selected="${company.finanCondition==8}" value="8">不需要融资</option>
                        </select>
                    </div>
                    <label class="control-label col-md-1">公司规模</label>
                    <div class="col-md-3">
                        <select class="form-control editable" name="sizeCondition" disabled>
                            <option value="">公司规模</option>
                            <option th:selected="${company.sizeCondition==1}" value="1">0-20人</option>
                            <option th:selected="${company.sizeCondition==2}" value="2">20-99人</option>
                            <option th:selected="${company.sizeCondition==3}" value="3">100-499人</option>
                            <option th:selected="${company.sizeCondition==4}" value="4">500-999人</option>
                            <option th:selected="${company.sizeCondition==5}" value="5">1000-9999人</option>
                            <option th:selected="${company.sizeCondition==6}" value="6">10000人以上</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">公司福利</label>
                    <div class="col-md-6">
                       <input type="text" class="form-control editable" name="companyTags" th:value="${company.companyTags}" disabled>
                    </div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-1">公司描述</label>
                <div class="col-md-6">
                    <textarea class="form-control editable" style="height: 260px;resize: none" disabled th:text="${company.companyDetail}"></textarea>
                </div>
                </div>
            </div>
            <div style="float: right;width: 15%;">
                <div style="padding-top: 20px;padding-bottom: 20px;">
                    <img th:src="${company.companyHeadImg == null}?'#':'../companyHeadImg/'+${company.companyHeadImg}" id="img-txz2" style="width: 150px;height: 200px"/>
                    <input type="file" accept="image/*" id="file-txz2" name="file" onchange="upload('#file-txz2', '#img-txz2');" style="display: none" />
                </div>
                <div >
                    <button type="button" id="editButton2" class="btn btn-primary glyphicon glyphicon-pencil" style="width: 75px;height: 35px;" onclick="updateCompanyInfo()" >编辑</button>
                    <button type="submit" id="submitButton2" style="width: 75px;height: 35px;display: none" class="btn btn-primary glyphicon glyphicon-save" >保存</button>
                </div>
            </div>

        </form>
        <hr class="divider" />
</div>
</body>
</html>