<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            $("#classesUl").append("<li onclick=\"changeClasses(this)\" value=\"null\"><a href=\"#\">不限</a></li>");
            $.ajax({
                type: "GET",
                url: "/job/getClasses2",
                data: {},
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function(data){
                    for(var i = 0; i < data.length;i++) {
                        var classes = data[i];
                        $("#classesUl").append(" <li onmouseover= \"showNext(this)\" onmouseout=\"clearLi()\" value="+classes['classesId']+"><a href=\"#\">"+classes['classesName']+"</a></li>");
                    }
                }
            });
        }
        function clearCondition(){
            document.getElementById("expCondition")[0].selected = true;
            document.getElementById("eduCondition")[0].selected = true;
            document.getElementById("salCondition")[0].selected = true;
            document.getElementById("finanCondition")[0].selected = true;
            document.getElementById("sizeCondition")[0].selected = true;
            document.getElementById("postDateCondition")[0].selected = true;
            changeJobList();
        }
        function showNext(obj) {
            $.ajax({
                type: "GET",
                url: "/job/getChildClasses",
                data: {"classesId":obj.value},
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function(data) {
                    document.getElementById("childClassesUl").style.display="block";
                    $("#childClassesUl").html("");
                    var num = (parseInt(obj.value) ) * 26.5;
                    document.getElementById("childClassesUl").style.marginTop = num + "px";
                    document.getElementById("childClassesUl").value = data[0]['classesId'];
                    document.getElementById("jobClassesUl").value = data[0]['classesId'];
                    for (var i = 0; i < data.length; i++) {
                        var childClasses = data[i];
                        $("#childClassesUl").append(" <li onmouseover=\"showNextOfNext(this)\"  data-num=\""+ i +"\" value=" + childClasses['childClassesId'] + "><a href=\"#\" >" + childClasses['childClassesName'] + "</a></li>");
                    }
                }
                });
        }
        function showNextOfNext(obj) {
            $.ajax({
                type: "GET",
                url: "/job/getJobClasses",
                data: {"childClassesId":obj.value},
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function(data) {
                    document.getElementById("jobClassesUl").style.display="block";
                    $("#jobClassesUl").html("");
                    var num1 = document.getElementById("childClassesUl").style.marginTop;
                    var num2 = (parseInt(obj.dataset.num)) * 26.5;
                    var num = parseInt(num1) + num2;
                    document.getElementById("jobClassesUl").style.marginTop = num + "px";
                    for (var i = 0; i < data.length; i++) {
                        var jobClasses = data[i];
                        $("#jobClassesUl").append(" <li onclick=\"changeClasses(this)\" value=\"" + jobClasses['jobClassesId'] + "\"><a href=\"#\" >" + jobClasses['jobClassesName'] + "</a></li>");
                    }
                }
            });
        }
        function clearLi() {
            //$("#childClassesUl li") .remove();
            document.getElementById("childClassesUl").style.display="none";
        }
        function clearLi2(){
            document.getElementById("jobClassesUl").style.display="none";
        }
        function changeClasses(obj) {
            document.getElementById("childClassesUl").style.display="none";
            document.getElementById("jobClassesUl").style.display="none";
            document.getElementById("jobClassesId").value= obj.value;
            document.getElementById("jobClassesName").value = obj.getElementsByTagName("a").item(0).innerHTML;
            changeJobList();
        }
        function changeJobList() {
            var keyword = document.getElementById("keyword").value;
            var jobClassesId = document.getElementById("jobClassesId").value;
            var jobClassesName = document.getElementById("jobClassesName").value;
            var expCondition = document.getElementById("expCondition").value;
            var eduCondition = document.getElementById("eduCondition").value;
            var salCondition = document.getElementById("salCondition").value;
            var finanCondition = document.getElementById("finanCondition").value;
            var sizeCondition = document.getElementById("sizeCondition").value;
            var postDateCondition = document.getElementById("postDateCondition").value;
            window.location.href="/job/search?keyword="+keyword+"&jobClassesId="+jobClassesId+"&jobClassesName="+jobClassesName+"&expCondition="+expCondition+
                    "&eduCondition="+eduCondition+"&salCondition="+salCondition+"&finanCondition="+finanCondition+"&sizeCondition="+sizeCondition+
                    "&postDateCondition="+postDateCondition;
        }
    </script>
</head>
<style>
    .tags{
        margin-right: 10px;
    }
</style>
<body>
<header id="header" class="header-scrolled">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/getLoginIndex" style="font-weight: 600;color: #00b38a;font-size: 30px">XXX招聘</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/getLoginIndex">首页</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="elements.html">elements</a></li>
                            <li><a href="search.html">search</a></li>
                            <li><a href="single.html">single</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="../register.html">注册</a></li>
                    <li th:if="${session.userName == null}"><a class="ticker-btn" href="../login.html">登录</a></li>
                    <li style="border: 1px white solid" th:if="${session.userName != null}"><a href="#"  th:text="${session.userName}"></a>
                        <ul style="margin-top: 0px">
                            <li><a th:href="@{/jsPersonCenter(type=${session.userType})}">个人中心</a> </li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<div class="panel panel-default" style="height: 2000px;margin-top: 80px;">
    <div class="panel-body">
        <form action="#">
        <div class="aui-wrapper">
            <div class="aui-wrapper-header">
                    <input type="text" class="col-md-8 input-lg" th:value="${searchRequest.keyword}" id="keyword" name="keyword" placeholder="职位搜索">
                        <div class="dropdown col-md-2" style="padding: 0px" id="jobClassesDiv">
                            <input type="text" id="jobClassesId" name="jobClassesId" th:value="${searchRequest.jobClassesId}" hidden/>
                        <input type="text" class="col-md-12 btn btn-default dropdown-toggle input-lg" data-toggle="dropdown" th:value="${searchRequest.jobClassesName}" id="jobClassesName" name="jobClassesName" readonly />
                        <ul class="dropdown-menu" onmouseout="clearLi2()" role="menu" id="classesUl">
                        </ul>
                        <ul  class="dropdown-menu" onmouseover="showNext(this)" style="margin-left: 160px;display: none" role="menu" id="childClassesUl">
                        </ul>
                        <ul  class="dropdown-menu" onmouseover="showNext(this)"  style="margin-left: 320px;display: none" role="menu" id="jobClassesUl">
                        </ul>
                        </div>
                    <input type="submit" class="aui-wrapper-submit form-control">
            </div>
        </div>
        <div class="form-horizontal" style="margin:0px auto;width: 1300px;margin-top: 20px;">
            <div class="form-group">
                <div class="input-group">
                    <div class="col-md-2">
                    <select class="form-control" id="expCondition" style="margin-right: 50px;" onchange="changeJobList()">
                        <option value="">工作经验</option>
                        <option th:selected="${searchRequest.expCondition==1}" value="1">在校生</option>
                        <option th:selected="${searchRequest.expCondition==2}" value="2">应届生</option>
                        <option th:selected="${searchRequest.expCondition==3}" value="3">1年以内</option>
                        <option th:selected="${searchRequest.expCondition==4}" value="4">1-3年</option>
                        <option th:selected="${searchRequest.expCondition==5}" value="5">3-5年</option>
                        <option th:selected="${searchRequest.expCondition==6}" value="6">5-10年</option>
                        <option th:selected="${searchRequest.expCondition==7}" value="7">10年以上</option>
                    </select>
                    </div>
                    <div class="col-md-2">
                    <select class="form-control" id="eduCondition" style="margin-right: 50px;" onchange="changeJobList()">
                        <option value="">学历要求</option>
                        <option th:selected="${searchRequest.eduCondition==1}" value="1">初中及以下</option>
                        <option th:selected="${searchRequest.eduCondition==2}" value="2">中专/中技</option>
                        <option th:selected="${searchRequest.eduCondition==3}" value="3">高中</option>
                        <option th:selected="${searchRequest.eduCondition==4}" value="4">大专</option>
                        <option th:selected="${searchRequest.eduCondition==5}" value="5">本科</option>
                        <option th:selected="${searchRequest.eduCondition==6}" value="6">硕士</option>
                        <option th:selected="${searchRequest.eduCondition==7}" value="7">博士</option>
                    </select>
                    </div>
                    <div class="col-md-2">
                    <select class="form-control" id="salCondition" style="margin-right: 50px;" onchange="changeJobList()">
                        <option value="">薪资要求</option>
                        <option th:selected="${searchRequest.salCondition==1}" value="1">3K以下</option>
                        <option th:selected="${searchRequest.salCondition==2}" value="2">3-5K</option>
                        <option th:selected="${searchRequest.salCondition==3}" value="3">5-10K</option>
                        <option th:selected="${searchRequest.salCondition==4}" value="4">10-15K</option>
                        <option th:selected="${searchRequest.salCondition==5}" value="5">15-20K</option>
                        <option th:selected="${searchRequest.salCondition==6}" value="6">20-30K</option>
                        <option th:selected="${searchRequest.salCondition==7}" value="7">30-50K</option>
                        <option th:selected="${searchRequest.salCondition==8}" value="8">50K以上</option>
                    </select>
                    </div>
                    <div class="col-md-2">
                    <select class="form-control" id="finanCondition" style="margin-right: 50px;" onchange="changeJobList()">
                        <option value="">融资阶段</option>
                        <option th:selected="${searchRequest.finanCondition==1}" value="1">未融资</option>
                        <option th:selected="${searchRequest.finanCondition==2}" value="2">天使轮</option>
                        <option th:selected="${searchRequest.finanCondition==3}" value="3">A轮</option>
                        <option th:selected="${searchRequest.finanCondition==4}" value="4">B轮</option>
                        <option th:selected="${searchRequest.finanCondition==5}" value="5">C轮</option>
                        <option th:selected="${searchRequest.finanCondition==6}" value="6">D轮及以上</option>
                        <option th:selected="${searchRequest.finanCondition==7}" value="7">已上市</option>
                        <option th:selected="${searchRequest.finanCondition==8}" value="8">不需要融资</option>
                    </select>
                    </div>
                    <div class="col-md-2">
                    <select class="form-control" id="sizeCondition" style="margin-right: 50px;" onchange="changeJobList()">
                        <option value="">公司规模</option>
                        <option th:selected="${searchRequest.sizeCondition==1}" value="1">0-20人</option>
                        <option th:selected="${searchRequest.sizeCondition==2}" value="2">20-99人</option>
                        <option th:selected="${searchRequest.sizeCondition==3}" value="3">100-499人</option>
                        <option th:selected="${searchRequest.sizeCondition==4}" value="4">500-999人</option>
                        <option th:selected="${searchRequest.sizeCondition==5}" value="5">1000-9999人</option>
                        <option th:selected="${searchRequest.sizeCondition==6}" value="6">10000人以上</option>
                    </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="postDateCondition" style="margin-right: 50px;" onchange="changeJobList()">
                            <option value="">发布时间</option>
                            <option th:selected="${searchRequest.postDateCondition==1}" value="1">一天以内</option>
                            <option th:selected="${searchRequest.postDateCondition==2}" value="2">三天以内</option>
                            <option th:selected="${searchRequest.postDateCondition==3}" value="3">七天以内</option>
                            <option th:selected="${searchRequest.postDateCondition==4}" value="4">十五天以内</option>
                            <option th:selected="${searchRequest.postDateCondition==5}" value="5">一个月以内</option>
                        </select>
                    </div>
                    <label class="control-label" style="width:100px;float:right;cursor: pointer;" onclick="clearCondition()">清空筛选条件</label>
                </div>
            </div>
            </div>
        </form>
        <div style="margin:0px auto;margin-top:20px;border-top: black double 4px;width: 1600px"></div>
        <div th:if="${#lists.isEmpty(jobList)}" style="text-align: center;font-size: 50px;font-weight: 500;margin-top: 50px;">
            暂无该关键字的匹配
        </div>
        <div th:if="${not #lists.isEmpty(jobList)}">
        <div th:each="job:${jobList}" class="panel panel-default jobList">
            <div style="float: left;width: 50%;padding-top: 35px;padding-left: 35px">
                <p><a style="font-size: 20px;" th:href="@{/job/getJobDetail(jobId=${job.jobId})}" th:text="${job.jobName}"></a><span ><a style="font-size: 20px;" href="#" th:if="${job.workCity != null}" th:text="'['+${job.workCity}+']'">[广州]</a></span></p>
                <br/>
                <p style="font-size: 16px;"><span style="color: orange;font-weight: 700" th:text="${job.salary}+'元/月'"></span> 丨 <span th:text="${job.expConditionStr}"></span> 丨 <span th:text="${job.eduConditionStr}"></span> 丨 <span><a href="#" th:text="${job.reRealname}"> X先生</a></span> 丨 <span th:text="${job.reCompanyPosition}">招聘者</span></p>
                <br/>
                <p>
                    <span class="label label-info tags" th:each="tag:${job.tags}" th:text="${tag}"></span>
                </p>
            </div>
            <div style="float: right;width: 50%;padding-top: 35px;padding-left: 35px;">
                <div style="float: left;width: 75%;overflow: hidden" >
                <p><a style="font-size: 20px;" href="#" th:text="${job.companyName}"></a></p>
                <br/>
                <p style="font-size: 16px;"><span th:text="${job.industry}">所属行业</span> 丨 <span th:text="${job.finanConditionStr}">融资阶段</span> 丨 <span th:text="${job.sizeConditionStr}">公司规模</span></p>
                <br/>
                <p style="white-space:nowrap;overflow: hidden"><span class="label label-info tags" th:each="companyTag:${job.companyTags}" th:text="${companyTag}"></span></p>
                </div>
                <div style="float: right;width: 25%;">
                <img th:if="${job.companyHeadImg != null}" th:src="'../companyHeadImg/'+${job.companyHeadImg}" style="width:100px;height:100px;border: 1px solid black" />
                    <img th:if="${job.companyHeadImg == null}" src="#" style="width:100px;height:100px;border: 1px solid black" />
                </div>
            </div>
        </div>
        <div style="margin: 0 auto;width: 1600px;text-align: center">
        <ul class="pagination pagination-lg" >
            <li th:class="${searchRequest.indexPage==1}?'disabled' : ''"><a th:if="${searchRequest.indexPage==1}" href="#">首页</a><a th:if="${searchRequest.indexPage!=1}" th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=1)}">首页</a></li>
            <li th:class="${searchRequest.indexPage==1}?'disabled' : ''"><a th:if="${searchRequest.indexPage==1}" href="#">上一页</a><a th:if="${searchRequest.indexPage!=1}" th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-1})}">上一页</a></li>
            <li th:if="${searchRequest.indexPage-3 >=1}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-3})}" th:text="${searchRequest.indexPage -3}" >1</a></li>
            <li th:if="${searchRequest.indexPage-2 >=1}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-2})}" th:text="${searchRequest.indexPage -2}" >1</a></li>
            <li th:if="${searchRequest.indexPage-1 >=1}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage-1})}" th:text="${searchRequest.indexPage -1}" >1</a></li>
            <li class="active"><a href="#" th:text="${searchRequest.indexPage}" >1</a></li>
            <li th:if="${searchRequest.indexPage+1 <=searchRequest.totalPage}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+1})}" th:text="${searchRequest.indexPage +1}" >1</a></li>
            <li th:if="${searchRequest.indexPage+2 <=searchRequest.totalPage}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+2})}" th:text="${searchRequest.indexPage +2}" >1</a></li>
            <li th:if="${searchRequest.indexPage+3 <=searchRequest.totalPage}" ><a th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+3})}" th:text="${searchRequest.indexPage +3}" >1</a></li>
            <li th:class="${searchRequest.indexPage==searchRequest.totalPage}?'disabled' : ''" ><a th:if="${searchRequest.indexPage==searchRequest.totalPage}" href="#">下一页</a><a th:if="${searchRequest.indexPage != searchRequest.totalPage}" th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.indexPage+1})}">下一页</a></li>
            <li th:class="${searchRequest.indexPage==searchRequest.totalPage}?'disabled' : ''" ><a th:if="${searchRequest.indexPage==searchRequest.totalPage}" href="#">尾页</a><a th:if="${searchRequest.indexPage != searchRequest.totalPage}" th:href="@{/job/search(keyword=${searchRequest.keyword},jobClassesId=${searchRequest.jobClassesId},jobClassesName=${searchRequest.jobClassesName},expCondition=${searchRequest.expCondition},eduCondition=${searchRequest.eduCondition},salCondition=${searchRequest.salCondition},
            finanCondition=${searchRequest.finanCondition},sizeCondition=${searchRequest.sizeCondition},postDateCondition=${searchRequest.postDateCondition},indexPage=${searchRequest.totalPage})}">尾页</a></li>
        </ul><br>
        </div>
        </div>
<!--        <div class="panel panel-default jobList">-->
<!--            <div style="float: left;width: 50%;padding-top: 35px;padding-left: 35px; border: 1px solid black">-->
<!--                <p><a style="font-size: 20px;" href="#">Java实习</a>　[广州]　发布于2020-04-01</p>-->
<!--                <br/>-->
<!--                <p style="font-size: 16px;"><span style="color: orange;font-weight: 700" >4-8K·14薪</span> 丨 <span>3天/周</span> 丨 <span>1-3年</span> 丨 <span >本科</span> 丨 <span><a href="#"> X先生 高级开发工程师</a></span></p>-->
<!--                <br/>-->
<!--                <p ><span class="label label-info tags">Java</span><span class="label label-info tags">php</span><span class="label label-info tags">MySQL</span></p>-->
<!--            </div>-->
<!--            <div style="float: right;width: 50%;padding-top: 35px;padding-left: 35px;border: 1px solid black">-->
<!--                <p><a style="font-size: 20px;" href="#">XX科技有限公司</a></p>-->
<!--                <br/>-->
<!--                <p style="font-size: 16px;"> <span>所属行业</span> 丨 <span>融资阶段</span> 丨 <span >公司规模</span></p>-->
<!--                <br/>-->
<!--                <p><span class="label label-info tags">五险一金</span><span class="label label-info tags">节日福利</span><span class="label label-info tags">MySQL</span></p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
<script type="text/javascript">
    $('#jobClassesDiv').on('hidden.bs.dropdown', function() {
        clearLi();
        clearLi2();
    })
</script>
</html>