<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoxd.graduation_project.mapper.JobMapper" >

    <select id="queryClassesList" resultType="com.luoxd.graduation_project.domain.Classes">
      select classes_id,classes_name
      from classes
    </select>

    <select id="queryChildClassesListByClassesId" resultType="com.luoxd.graduation_project.domain.ChildClasses">
        select child_classes_id,child_classes_name
        from child_classes
        where classes_id = #{classesId}
    </select>

    <select id="queryJobClassesListByChildClassesId" resultType="com.luoxd.graduation_project.domain.JobClasses">
        select job_classes_id,job_classes_name,isRecommend,job_classes_url,isHot
        from job_classes
        where child_classes_id = #{childClassesId}
    </select>

    <insert id="insertToClasses" parameterType="com.luoxd.graduation_project.domain.Classes">
        insert into classes(`classes_id`,`classes_name`)
        values (#{classesId},#{classesName})
    </insert>

    <insert id="insertToChildClasses" parameterType="com.luoxd.graduation_project.domain.ChildClasses">
        insert into child_classes(`child_classes_id`,`child_classes_name`,`classes_id`)
        values (#{childClassesId},#{childClassesName},#{classesId})
    </insert>

    <insert id="insertToJobClasses" parameterType="com.luoxd.graduation_project.domain.JobClasses">
        insert into job_classes(`job_classes_id`,`job_classes_name`,`child_classes_id`)
        values (#{jobClassesId},#{jobClassesName},#{childClassesId})
    </insert>

    <update id="updateRecommendByName">
        update job_classes
        set isRecommend = 1
        where job_classes_name = #{jobClassesName}
    </update>

    <select id="queryJobList" resultType="com.luoxd.graduation_project.domain.Job" parameterType="com.luoxd.graduation_project.request.SearchRequest">
        select job.job_id, job.job_name,job.job_detail,job.exp_condition,job.edu_condition,job.salary,recruiter.re_company_id,
        job.tag,job.recruiter_id,recruiter.re_realname,recruiter.re_company_position,job.work_city,job.work_address,job.post_date,job.job_classes_id,
        company.company_name,company.company_head_img,company.industry,company.finan_condition,company.size_condition,company.company_tags
        from job left join recruiter on job.recruiter_id = recruiter.re_id
        left join company on recruiter.re_company_id = company.company_id
        where 1 = 1
        <if test="keyword != null and keyword != ''">
            and job.job_name LIKE concat('%',#{keyword},'%')
        </if>
        <if test="jobClassesId != null and jobClassesId != ''">
            and job.job_classes_id = #{jobClassesId}
        </if>
        <if test="expCondition != null and expCondition != ''">
            and job.exp_condition = #{expCondition}
        </if>
        <if test="eduCondition != null and eduCondition != ''">
            and job.edu_condition = #{eduCondition}
        </if>
        <if test="salCondition != null and salCondition != ''">
            <choose>
                <when test="salCondition ==1 ">
                    and job.salary &lt; 3000
                </when >
                <when test="salCondition ==2 ">
                    and job.salary &gt;= 3000 and job.salary &lt; 5000
                </when >
                <when test="salCondition ==3 ">
                    and job.salary &gt;= 5000 and job.salary &lt; 10000
                </when >
                <when test="salCondition ==4 ">
                    and job.salary &gt;= 10000 and job.salary &lt; 15000
                </when >
                <when test="salCondition ==5 ">
                    and job.salary &gt;= 15000 and job.salary &lt; 20000
                </when >
                <when test="salCondition ==6 ">
                    and job.salary &gt;= 20000 and job.salary &lt; 30000
                </when >
                <when test="salCondition ==7 ">
                    and job.salary &gt;= 30000 and job.salary &lt; 50000
                </when >
                <when test="salCondition ==8 ">
                    and job.salary &gt;= 50000
                </when >
                <otherwise>
                </otherwise>
            </choose>
        </if>
        <if test="postDateCondition != null and postDateCondition != ''">
            <choose>
                <when test="postDateCondition ==1 ">
                    and  job.post_date = curdate()
                </when >
                <when test="postDateCondition ==2 ">
                    and job.post_date &gt;  DATE_SUB(curdate, INTERVAL 3 DAY) and job.post_date &lt;= curdate()
                </when >
                <when test="postDateCondition ==3 ">
                    and job.post_date &gt; DATE_SUB(curdate, INTERVAL 7 DAY) and job.post_date &lt;= curdate()
                </when >
                <when test="salCondition ==4 ">
                    and job.post_date &gt;  DATE_SUB(curdate, INTERVAL 15 DAY) and job.post_date &lt;= curdate()
                </when >
                <when test="salCondition ==5 ">
                    and job.post_date &gt;=  DATE_SUB(curdate, INTERVAL 1 MONTH ) and job.post_date &lt;= curdate()
                </when >
                <otherwise>
                </otherwise>
            </choose>
        </if>
        <if test="jobId != null and jobId != ''">
            and job.job_id = #{jobId}
        </if>
        order by post_date DESC
        <if test="start != null">
            limit #{start},2
        </if>
    </select>
    <select id="queryClasses" resultType="com.luoxd.graduation_project.domain.Classes">
        select *
        from classes
    </select>

    <select id="queryChildClassesByClassesId" resultType="com.luoxd.graduation_project.domain.ChildClasses">
        select *
        from child_classes
        where classes_id = #{classsesIdNum}
    </select>

    <select id="queryJobClassesByChildClassesId" resultType="com.luoxd.graduation_project.domain.JobClasses">
        select *
        from job_classes
        where child_classes_id = #{childClassesIdNum}
    </select>

    <select id="getJobById" resultType="com.luoxd.graduation_project.domain.Job">
        select job.job_id, job.job_name,job.job_detail,job.exp_condition,job.edu_condition,job.salary,recruiter.re_company_id,
        job.tag,job.recruiter_id,recruiter.re_realname,recruiter.re_company_position,job.work_city,job.work_address,job.job_classes_id,company.company_name,company.industry,company.finan_condition,company.size_condition
        from job left join recruiter on job.recruiter_id = recruiter.re_id
        left join company on recruiter.re_company_id = company.company_id
        where job.job_id = #{jobId}
    </select>

    <select id="queryJsChatUsers" resultType="com.luoxd.graduation_project.response.ChatResponse">
        select recruiter.re_id,recruiter.re_realname,company.company_name,recruiter.re_company_position,chat.job_id
        from chat left join recruiter on chat.re_id = recruiter.re_id
        left join company on recruiter.re_company_id = company.company_id
        where chat.js_id = #{userId}
        group by chat.re_id,chat.job_id
    </select>

    <select id="queryReChatUsers" resultType="com.luoxd.graduation_project.response.ChatResponse">
        select job_seeker.js_id,job_seeker.js_realname,job_seeker.js_college,chat.job_id
        from chat left join job_seeker on chat.js_id = job_seeker.js_id
        where chat.re_id = #{userId}
        group by chat.js_id,chat.job_id
    </select>

    <select id="showChatContent" resultType="com.luoxd.graduation_project.domain.Chat">
        select chat.chat_id,chat.js_id,job_seeker.js_realname,chat.re_id,recruiter.re_realname,company.company_name,
        recruiter.re_company_position,chat.job_id,job.job_name,chat.chat_content,chat.chat_send_time,chat.is_js_send
        from chat left join job_seeker on chat.js_id = job_seeker.js_id
        left join recruiter on chat.re_id = recruiter.re_id
        left join company on recruiter.re_company_id = company.company_id
        left join job on chat.job_id = job.job_id
        where chat.js_id = #{jsId} and chat.re_id = #{reId} and chat.job_id = #{jobId} and chat.is_read = 1
    </select>

    <select id="jobListCount" resultType="java.lang.Integer" parameterType="com.luoxd.graduation_project.request.SearchRequest">
        select count(*)
        from job left join recruiter on job.recruiter_id = recruiter.re_id
        left join company on recruiter.re_company_id = company.company_id
        where 1 = 1
        <if test="keyword != null and keyword != ''">
            and job.job_name LIKE concat('%',#{keyword},'%')
        </if>
        <if test="jobClassesId != null and jobClassesId != ''">
            and job.job_classes_id = #{jobClassesId}
        </if>
        <if test="expCondition != null and expCondition != ''">
            and job.exp_condition = #{expCondition}
        </if>
        <if test="eduCondition != null and eduCondition != ''">
            and job.edu_condition = #{eduCondition}
        </if>
        <if test="salCondition != null and salCondition != ''">
            <choose>
                <when test="salCondition ==1 ">
                    and job.salary &lt; 3000
                </when >
                <when test="salCondition ==2 ">
                    and job.salary &gt;= 3000 and job.salary &lt; 5000
                </when >
                <when test="salCondition ==3 ">
                    and job.salary &gt;= 5000 and job.salary &lt; 10000
                </when >
                <when test="salCondition ==4 ">
                    and job.salary &gt;= 10000 and job.salary &lt; 15000
                </when >
                <when test="salCondition ==5 ">
                    and job.salary &gt;= 15000 and job.salary &lt; 20000
                </when >
                <when test="salCondition ==6 ">
                    and job.salary &gt;= 20000 and job.salary &lt; 30000
                </when >
                <when test="salCondition ==7 ">
                    and job.salary &gt;= 30000 and job.salary &lt; 50000
                </when >
                <when test="salCondition ==8 ">
                    and job.salary &gt;= 50000
                </when >
                <otherwise>
                </otherwise>
            </choose>
        </if>
        <if test="postDateCondition != null and postDateCondition != ''">
            <choose>
                <when test="postDateCondition ==1 ">
                    and  job.post_date = curdate()
                </when >
                <when test="postDateCondition ==2 ">
                    and job.post_date &gt;  DATE_SUB(curdate, INTERVAL 3 DAY) and job.post_date &lt;= curdate()
                </when >
                <when test="postDateCondition ==3 ">
                    and job.post_date &gt; DATE_SUB(curdate, INTERVAL 7 DAY) and job.post_date &lt;= curdate()
                </when >
                <when test="salCondition ==4 ">
                    and job.post_date &gt;  DATE_SUB(curdate, INTERVAL 15 DAY) and job.post_date &lt;= curdate()
                </when >
                <when test="salCondition ==5 ">
                    and job.post_date &gt;=  DATE_SUB(curdate, INTERVAL 1 MONTH ) and job.post_date &lt;= curdate()
                </when >
                <otherwise>
                </otherwise>
            </choose>
        </if>
        <if test="jobId != null and jobId != ''">
            and job.job_id = #{jobId}
        </if>
    </select>

    <insert id="addJob" parameterType="com.luoxd.graduation_project.request.JobRequest">
        insert into
        job(job_name,job_detail,exp_condition,edu_condition,salary,work_city,work_address,job_classes_id,tag,recruiter_id,post_date)
        values(#{jobName},#{jobDetail},#{expCondition},#{eduCondition},#{salary},#{workCity},#{workAddress},#{jobClassesId},#{tag},#{reId},curdate())
    </insert>

    <update id="updateJob" parameterType="com.luoxd.graduation_project.request.JobRequest">
        update job
        set job_name=#{jobName},job_detail=#{jobDetail},exp_condition=#{expCondition},edu_condition=#{eduCondition},salary=#{salary},work_city=#{workCity},work_address=#{workAddress},job_classes_id=#{jobClassesId},tag=#{tag}
        where job_id = #{jobId}
    </update>

    <select id="getJsNotReadCount" resultType="java.lang.Integer">
        select count(*)
        from chat
        where js_id = #{userId} and re_id = #{reId} and job_id = #{jobId} and is_read = 0 and is_js_send=0
    </select>

    <select id="read">
        update chat
        set is_read = 1
        where js_id = #{jsId} and re_id = #{reId} and job_id = #{jobId}
    </select>

    <insert id="insertChats" parameterType="com.luoxd.graduation_project.request.ChatRequest">
        insert into
        chat(js_id,re_id,job_id,chat_content,chat_send_time,is_js_send,is_read)
        values
        (
        #{jsId},
        #{reId},
        #{jobId},
        #{chatContent},
        #{chatSendTime},
        #{isJsSend},
        #{isRead}
        )
    </insert>

    <select id="getCollection" resultType="com.luoxd.graduation_project.domain.JobCollection">
        select *
        from job_collection
        where js_id = #{jsId}
        <if test="jobId != null and jobId != ''">
            and job_id = #{jobId}
        </if>
    </select>

    <insert id="jobCollection">
        insert into
        job_collection(js_id,job_id)
        values (#{jsId},#{jobId})
    </insert>

    <select id="getNewChat" resultType="com.luoxd.graduation_project.response.ChatResponse">
        select recruiter.re_id,recruiter.re_realname,company.company_name,
        recruiter.re_company_position,job.job_name
        from  recruiter
        left join company on recruiter.re_company_id = company.company_id
        left join job on job.recruiter_id = recruiter.re_id
        where recruiter.re_id = #{reId}
    </select>
</mapper>